In [1]:
import matplotlib.pyplot as plt
import matplotlib.ticker as plticker
import matplotlib.patches as mpatches
import numpy as np
import os
import pandas as pd
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score #model evaluation

In [2]:
rootdir = '/home/michael/data/derivatives/results/dataframes'

In [3]:
rt_df = pd.DataFrame()

for subdir, dirs, files in os.walk(rootdir):
    for file in files:
        #print(file)
        #print os.path.join(subdir, file)
        filepath = subdir + os.sep + file
        if filepath.endswith(".tsv"):
            print (filepath)
            if filepath == '/home/michael/data/derivatives/results/dataframes/debugging_rt_data_sub_x.tsv':
                print('no, no')
            else:
                df_temp = pd.read_csv(filepath, sep='\t',  index_col=0) 
                rt_df = rt_df.append(df_temp)
                display(df_temp)
                
rt_df.sort_values(by=('subject'))

/home/michael/data/derivatives/results/dataframes/rt_data_sub-007.tsv

,trial,condition,reaction,rt,target,flanker,block,subject,negative_first
0,0,0,correct,1.203125,incongruent,left,0,7,True
1,1,0,correct,0.427734,incongruent,right,0,7,True
2,2,0,correct,0.420898,incongruent,left,0,7,True
3,3,0,correct,0.413086,congruent,left,0,7,True
4,4,0,correct,0.405273,incongruent,left,0,7,True
...,...,...,...,...,...,...,...,...,...
1243,1243,2,correct,0.505859,incongruent,left,2,7,True
1244,1244,2,correct,0.482422,congruent,right,2,7,True
1245,1245,2,incorrect,0.442383,incongruent,right,2,7,True
1246,1246,2,correct,0.946289,incongruent,left,2,7,True
1247,1247,2,correct,0.523438,congruent,right,2,7,True

/home/michael/data/derivatives/results/dataframes/rt_data_sub-011.tsv

,trial,condition,reaction,rt,target,flanker,block,subject,negative_first
0,0,0,correct,0.888672,congruent,left,0,11,False
1,1,0,correct,1.009766,congruent,left,0,11,False
2,2,0,correct,0.442383,incongruent,right,0,11,False
3,3,0,correct,0.451172,incongruent,right,0,11,False
4,4,0,correct,0.332031,congruent,right,0,11,False
...,...,...,...,...,...,...,...,...,...
1243,1243,3,correct,0.270508,congruent,left,3,11,False
1244,1244,3,correct,0.263672,congruent,left,3,11,False
1245,1245,3,correct,0.240234,congruent,left,3,11,False
1246,1246,3,correct,0.281250,congruent,left,3,11,False
1247,1247,3,correct,0.272461,congruent,left,3,11,False

/home/michael/data/derivatives/results/dataframes/rt_data_sub-014.tsv

,trial,condition,reaction,rt,target,flanker,block,subject,negative_first
0,0,0,correct,1.021484,incongruent,left,0,14,True
1,1,0,incorrect,0.358398,congruent,right,0,14,True
2,2,0,correct,0.335938,congruent,right,0,14,True
3,3,0,correct,0.456055,incongruent,left,0,14,True
4,4,0,correct,0.416992,congruent,left,0,14,True
...,...,...,...,...,...,...,...,...,...
1243,1243,2,correct,0.386719,incongruent,left,2,14,True
1244,1244,2,correct,0.363281,congruent,right,2,14,True
1245,1245,2,correct,0.467773,incongruent,left,2,14,True
1246,1246,2,correct,0.396484,congruent,left,2,14,True
1247,1247,2,correct,0.373047,congruent,right,2,14,True

/home/michael/data/derivatives/results/dataframes/rt_data_sub-036.tsv

,trial,condition,reaction,rt,target,flanker,block,subject,negative_first
0,0,0,correct,0.692383,incongruent,right,0,36,True
1,1,0,correct,0.414062,congruent,left,0,36,True
2,2,0,correct,0.470703,incongruent,right,0,36,True
3,3,0,correct,0.335938,congruent,right,0,36,True
4,4,0,incorrect,0.263672,incongruent,left,0,36,True
...,...,...,...,...,...,...,...,...,...
1243,1243,2,incorrect,0.407227,congruent,left,2,36,True
1244,1244,2,incorrect,0.462891,incongruent,left,2,36,True
1245,1245,2,correct,0.616211,incongruent,left,2,36,True
1246,1246,2,correct,0.480469,incongruent,left,2,36,True
1247,1247,2,correct,0.537109,incongruent,right,2,36,True

/home/michael/data/derivatives/results/dataframes/rt_data_sub-012.tsv

,trial,condition,reaction,rt,target,flanker,block,subject,negative_first
0,0,0,NaN,NaN,incongruent,right,0,12,True
1,1,0,correct,0.647461,incongruent,left,0,12,True
2,2,0,incorrect,0.255859,incongruent,left,0,12,True
3,3,0,correct,0.457031,incongruent,right,0,12,True
4,4,0,incorrect,0.257812,incongruent,right,0,12,True
...,...,...,...,...,...,...,...,...,...
1243,1243,2,correct,0.747070,congruent,left,2,12,True
1244,1244,2,correct,0.499023,incongruent,right,2,12,True
1245,1245,2,correct,0.444336,congruent,right,2,12,True
1246,1246,2,correct,0.484375,congruent,left,2,12,True
1247,1247,2,correct,0.765625,incongruent,left,2,12,True

/home/michael/data/derivatives/results/dataframes/rt_data_sub-035.tsv

,trial,condition,reaction,rt,target,flanker,block,subject,negative_first
0,0,0,correct,0.752930,congruent,right,0,35,True
1,1,0,correct,0.378906,incongruent,left,0,35,True
2,2,0,incorrect,0.258789,incongruent,left,0,35,True
3,3,0,incorrect,0.332031,incongruent,right,0,35,True
4,4,0,correct,0.307617,congruent,right,0,35,True
...,...,...,...,...,...,...,...,...,...
1243,1243,2,correct,0.362305,incongruent,left,2,35,True
1244,1244,2,correct,0.354492,congruent,left,2,35,True
1245,1245,2,correct,0.315430,congruent,right,2,35,True
1246,1246,2,correct,0.419922,incongruent,right,2,35,True
1247,1247,2,correct,0.333008,congruent,left,2,35,True

/home/michael/data/derivatives/results/dataframes/rt_data_sub-038.tsv

,trial,condition,reaction,rt,target,flanker,block,subject,negative_first
0,0,0,incorrect,0.270508,incongruent,left,0,38,False
1,1,0,incorrect,0.279297,incongruent,left,0,38,False
2,2,0,correct,0.416016,incongruent,right,0,38,False
3,3,0,correct,0.248047,congruent,right,0,38,False
4,4,0,correct,0.384766,congruent,left,0,38,False
...,...,...,...,...,...,...,...,...,...
1195,1195,3,correct,0.392578,incongruent,left,3,38,False
1196,1196,3,correct,0.482422,incongruent,left,3,38,False
1197,1197,3,correct,0.394531,incongruent,right,3,38,False
1198,1198,3,correct,0.323242,congruent,left,3,38,False
1199,1199,3,correct,0.395508,incongruent,left,3,38,False

/home/michael/data/derivatives/results/dataframes/rt_data_sub-010.tsv

,trial,condition,reaction,rt,target,flanker,block,subject,negative_first
0,0,0,correct,0.586914,congruent,left,0,10,False
1,1,0,correct,0.275391,congruent,left,0,10,False
2,2,0,incorrect,0.204102,incongruent,left,0,10,False
3,3,0,correct,0.275391,congruent,left,0,10,False
4,4,0,correct,0.284180,congruent,right,0,10,False
...,...,...,...,...,...,...,...,...,...
1243,1243,3,correct,0.209961,congruent,left,3,10,False
1244,1244,3,incorrect,0.234375,incongruent,left,3,10,False
1245,1245,3,correct,0.226562,congruent,right,3,10,False
1246,1246,3,incorrect,0.235352,incongruent,right,3,10,False
1247,1247,3,correct,0.242188,congruent,right,3,10,False

/home/michael/data/derivatives/results/dataframes/rt_data_sub-003.tsv

,trial,condition,reaction,rt,target,flanker,block,subject,negative_first
0,0,0,NaN,NaN,incongruent,right,0,3,True
1,1,0,NaN,NaN,incongruent,left,0,3,True
2,2,0,NaN,NaN,congruent,right,0,3,True
3,3,0,NaN,NaN,congruent,left,0,3,True
4,4,0,NaN,NaN,incongruent,right,0,3,True
...,...,...,...,...,...,...,...,...,...
1243,1243,2,correct,0.321289,congruent,left,2,3,True
1244,1244,2,correct,0.457031,incongruent,left,2,3,True
1245,1245,2,correct,0.337891,congruent,left,2,3,True
1246,1246,2,correct,0.425781,congruent,right,2,3,True
1247,1247,2,incorrect,0.370117,congruent,left,2,3,True

/home/michael/data/derivatives/results/dataframes/rt_data_sub-031.tsv

,trial,condition,reaction,rt,target,flanker,block,subject,negative_first
0,0,0,correct,0.598633,incongruent,right,0,31,False
1,1,0,correct,0.287109,congruent,left,0,31,False
2,2,0,incorrect,0.184570,incongruent,left,0,31,False
3,3,0,incorrect,0.225586,incongruent,left,0,31,False
4,4,0,correct,0.776367,incongruent,right,0,31,False
...,...,...,...,...,...,...,...,...,...
1243,1243,3,correct,0.373047,incongruent,right,3,31,False
1244,1244,3,correct,0.365234,congruent,left,3,31,False
1245,1245,3,correct,0.230469,congruent,right,3,31,False
1246,1246,3,correct,0.253906,congruent,right,3,31,False
1247,1247,3,correct,0.279297,congruent,left,3,31,False

/home/michael/data/derivatives/results/dataframes/rt_data_sub-005.tsv

,trial,condition,reaction,rt,target,flanker,block,subject,negative_first
0,0,0,correct,0.550781,congruent,left,0,5,True
1,1,0,correct,0.448242,incongruent,left,0,5,True
2,2,0,correct,0.328125,congruent,right,0,5,True
3,3,0,incorrect,0.273438,incongruent,right,0,5,True
4,4,0,correct,0.329102,congruent,left,0,5,True
...,...,...,...,...,...,...,...,...,...
1243,1243,2,incorrect,0.481445,congruent,right,2,5,True
1244,1244,2,correct,0.393555,congruent,right,2,5,True
1245,1245,2,correct,0.483398,congruent,left,2,5,True
1246,1246,2,correct,0.395508,incongruent,right,2,5,True
1247,1247,2,correct,0.436523,incongruent,left,2,5,True

/home/michael/data/derivatives/results/dataframes/rt_data_sub-037.tsv

,trial,condition,reaction,rt,target,flanker,block,subject,negative_first
0,0,0,correct,0.822266,incongruent,right,0,37,False
1,1,0,correct,0.479492,congruent,left,0,37,False
2,2,0,correct,0.424805,incongruent,right,0,37,False
3,3,0,incorrect,0.336914,incongruent,right,0,37,False
4,4,0,correct,0.537109,congruent,left,0,37,False
...,...,...,...,...,...,...,...,...,...
1243,1243,3,correct,0.261719,congruent,right,3,37,False
1244,1244,3,incorrect,0.318359,incongruent,right,3,37,False
1245,1245,3,correct,0.407227,incongruent,left,3,37,False
1246,1246,3,correct,0.334961,congruent,right,3,37,False
1247,1247,3,correct,0.375977,incongruent,right,3,37,False

/home/michael/data/derivatives/results/dataframes/rt_data_sub-029.tsv

,trial,condition,reaction,rt,target,flanker,block,subject,negative_first
0,0,0,correct,0.741211,incongruent,left,0,29,False
1,1,0,correct,0.254883,congruent,left,0,29,False
2,2,0,incorrect,0.246094,incongruent,right,0,29,False
3,3,0,correct,0.286133,congruent,right,0,29,False
4,4,0,correct,0.230469,congruent,left,0,29,False
...,...,...,...,...,...,...,...,...,...
894,894,3,correct,0.339844,incongruent,right,3,29,False
895,895,3,correct,0.250977,congruent,left,3,29,False
896,896,3,correct,0.291992,congruent,left,3,29,False
897,897,3,correct,0.299805,incongruent,right,3,29,False
898,898,3,correct,0.259766,congruent,left,3,29,False

/home/michael/data/derivatives/results/dataframes/rt_data_sub-016.tsv

,trial,condition,reaction,rt,target,flanker,block,subject,negative_first
0,0,0,correct,1.113281,congruent,left,0,16,True
1,1,0,correct,0.371094,congruent,right,0,16,True
2,2,0,correct,0.395508,incongruent,left,0,16,True
3,3,0,correct,0.324219,congruent,left,0,16,True
4,4,0,correct,0.396484,incongruent,right,0,16,True
...,...,...,...,...,...,...,...,...,...
1243,1243,2,correct,0.240234,congruent,left,2,16,True
1244,1244,2,incorrect,0.248047,incongruent,left,2,16,True
1245,1245,2,correct,0.353516,incongruent,right,2,16,True
1246,1246,2,correct,0.345703,incongruent,left,2,16,True
1247,1247,2,correct,0.274414,congruent,right,2,16,True

/home/michael/data/derivatives/results/dataframes/rt_data_sub-033.tsv

,trial,condition,reaction,rt,target,flanker,block,subject,negative_first
0,0,0,correct,0.918945,incongruent,right,0,33,False
1,1,0,correct,0.638672,incongruent,right,0,33,False
2,2,0,correct,0.296875,congruent,right,0,33,False
3,3,0,incorrect,0.320312,incongruent,right,0,33,False
4,4,0,correct,0.297852,congruent,right,0,33,False
...,...,...,...,...,...,...,...,...,...
1243,1243,3,correct,0.287109,congruent,right,3,33,False
1244,1244,3,correct,0.456055,congruent,left,3,33,False
1245,1245,3,correct,0.320312,congruent,left,3,33,False
1246,1246,3,correct,0.296875,congruent,right,3,33,False
1247,1247,3,correct,0.432617,congruent,right,3,33,False

/home/michael/data/derivatives/results/dataframes/rt_data_sub-002.tsv

,trial,condition,reaction,rt,target,flanker,block,subject,negative_first
0,0,0,NaN,NaN,congruent,right,0,2,False
1,1,0,correct,0.255859,congruent,right,0,2,False
2,2,0,incorrect,0.171875,incongruent,right,0,2,False
3,3,0,correct,0.359375,incongruent,left,0,2,False
4,4,0,correct,0.354492,incongruent,right,0,2,False
...,...,...,...,...,...,...,...,...,...
1243,1243,3,incorrect,0.244141,incongruent,right,3,2,False
1244,1244,3,correct,0.303711,congruent,left,3,2,False
1245,1245,3,correct,0.347656,congruent,left,3,2,False
1246,1246,3,correct,0.311523,congruent,right,3,2,False
1247,1247,3,correct,0.355469,congruent,right,3,2,False

/home/michael/data/derivatives/results/dataframes/rt_data_sub-024.tsv

,trial,condition,reaction,rt,target,flanker,block,subject,negative_first
0,0,0,correct,0.495117,incongruent,left,0,24,True
1,1,0,correct,0.279297,congruent,left,0,24,True
2,2,0,correct,0.254883,congruent,left,0,24,True
3,3,0,correct,0.375977,incongruent,right,0,24,True
4,4,0,incorrect,0.255859,incongruent,left,0,24,True
...,...,...,...,...,...,...,...,...,...
1243,1243,2,correct,0.375977,incongruent,right,2,24,True
1244,1244,2,correct,0.351562,incongruent,right,2,24,True
1245,1245,2,correct,0.312500,congruent,left,2,24,True
1246,1246,2,correct,0.352539,congruent,right,2,24,True
1247,1247,2,correct,0.361328,incongruent,right,2,24,True

/home/michael/data/derivatives/results/dataframes/rt_data_sub-006.tsv

,trial,condition,reaction,rt,target,flanker,block,subject,negative_first
0,0,0,correct,0.540039,incongruent,left,0,6,False
1,1,0,correct,0.373047,congruent,right,0,6,False
2,2,0,correct,0.477539,incongruent,right,0,6,False
3,3,0,correct,0.309570,congruent,left,0,6,False
4,4,0,correct,0.270508,congruent,left,0,6,False
...,...,...,...,...,...,...,...,...,...
1243,1243,3,correct,0.330078,incongruent,left,3,6,False
1244,1244,3,correct,0.323242,congruent,left,3,6,False
1245,1245,3,correct,0.315430,congruent,left,3,6,False
1246,1246,3,correct,0.324219,incongruent,left,3,6,False
1247,1247,3,correct,0.317383,congruent,right,3,6,False

/home/michael/data/derivatives/results/dataframes/rt_data_sub-022.tsv

,trial,condition,reaction,rt,target,flanker,block,subject,negative_first
0,0,0,incorrect,1.533203,congruent,left,0,22,True
1,1,0,correct,1.238281,incongruent,left,0,22,True
2,2,0,correct,0.751953,congruent,right,0,22,True
3,3,0,correct,0.616211,incongruent,left,0,22,True
4,4,0,correct,0.497070,congruent,left,0,22,True
...,...,...,...,...,...,...,...,...,...
1243,1243,2,correct,0.389648,incongruent,left,2,22,True
1244,1244,2,correct,0.366211,congruent,left,2,22,True
1245,1245,2,correct,0.390625,congruent,right,2,22,True
1246,1246,2,correct,0.463867,congruent,right,2,22,True
1247,1247,2,correct,0.471680,incongruent,right,2,22,True

/home/michael/data/derivatives/results/dataframes/rt_data_sub-017.tsv

,trial,condition,reaction,rt,target,flanker,block,subject,negative_first
0,0,0,correct,0.612305,congruent,left,0,17,False
1,1,0,correct,0.476562,incongruent,right,0,17,False
2,2,0,correct,0.454102,incongruent,right,0,17,False
3,3,0,correct,0.414062,congruent,right,0,17,False
4,4,0,correct,0.518555,incongruent,right,0,17,False
...,...,...,...,...,...,...,...,...,...
1243,1243,3,correct,0.435547,incongruent,right,3,17,False
1244,1244,3,correct,0.348633,incongruent,left,3,17,False
1245,1245,3,correct,0.291992,congruent,right,3,17,False
1246,1246,3,correct,0.365234,incongruent,left,3,17,False
1247,1247,3,correct,0.325195,congruent,left,3,17,False

/home/michael/data/derivatives/results/dataframes/rt_data_sub-008.tsv

,trial,condition,reaction,rt,target,flanker,block,subject,negative_first
0,0,0,correct,0.729492,congruent,right,0,8,False
1,1,0,correct,0.353516,incongruent,left,0,8,False
2,2,0,correct,0.298828,congruent,right,0,8,False
3,3,0,correct,0.529297,incongruent,right,0,8,False
4,4,0,correct,0.585938,congruent,left,0,8,False
...,...,...,...,...,...,...,...,...,...
1243,1243,3,correct,0.389648,incongruent,right,3,8,False
1244,1244,3,correct,0.461914,congruent,left,3,8,False
1245,1245,3,correct,0.293945,congruent,right,3,8,False
1246,1246,3,correct,0.334961,congruent,right,3,8,False
1247,1247,3,correct,0.406250,incongruent,left,3,8,False

/home/michael/data/derivatives/results/dataframes/rt_data_sub-032.tsv

,trial,condition,reaction,rt,target,flanker,block,subject,negative_first
0,0,0,NaN,NaN,incongruent,left,0,32,True
1,1,0,incorrect,0.251953,incongruent,right,0,32,True
2,2,0,correct,0.373047,incongruent,right,0,32,True
3,3,0,correct,0.284180,congruent,right,0,32,True
4,4,0,correct,0.309570,congruent,right,0,32,True
...,...,...,...,...,...,...,...,...,...
915,915,2,correct,0.281250,congruent,right,2,32,True
916,916,2,correct,0.336914,incongruent,right,2,32,True
917,917,2,correct,0.313477,incongruent,right,2,32,True
918,918,2,correct,0.289062,congruent,right,2,32,True
919,919,2,incorrect,0.281250,incongruent,right,2,32,True

/home/michael/data/derivatives/results/dataframes/rt_data_sub-013.tsv

,trial,condition,reaction,rt,target,flanker,block,subject,negative_first
0,0,0,NaN,NaN,incongruent,right,0,13,False
1,1,0,NaN,NaN,incongruent,right,0,13,False
2,2,0,correct,0.385742,incongruent,left,0,13,False
3,3,0,correct,0.296875,congruent,left,0,13,False
4,4,0,correct,0.257812,congruent,left,0,13,False
...,...,...,...,...,...,...,...,...,...
1243,1243,3,correct,0.285156,congruent,left,3,13,False
1244,1244,3,correct,0.357422,incongruent,left,3,13,False
1245,1245,3,correct,0.318359,incongruent,left,3,13,False
1246,1246,3,correct,0.309570,congruent,left,3,13,False
1247,1247,3,correct,0.254883,congruent,left,3,13,False

/home/michael/data/derivatives/results/dataframes/rt_data_sub-020.tsv

,trial,condition,reaction,rt,target,flanker,block,subject,negative_first
0,0,0,correct,0.553711,congruent,right,0,20,True
1,1,0,correct,0.275391,congruent,left,0,20,True
2,2,0,incorrect,0.266602,incongruent,left,0,20,True
3,3,0,correct,0.275391,congruent,left,0,20,True
4,4,0,correct,0.347656,congruent,right,0,20,True
...,...,...,...,...,...,...,...,...,...
1243,1243,2,correct,0.184570,congruent,right,2,20,True
1244,1244,2,incorrect,0.256836,incongruent,right,2,20,True
1245,1245,2,incorrect,0.265625,incongruent,left,2,20,True
1246,1246,2,correct,0.273438,congruent,right,2,20,True
1247,1247,2,correct,0.297852,incongruent,left,2,20,True

/home/michael/data/derivatives/results/dataframes/rt_data_sub-004.tsv

,trial,condition,reaction,rt,target,flanker,block,subject,negative_first
0,0,0,correct,0.549805,incongruent,right,0,4,False
1,1,0,correct,0.303711,congruent,right,0,4,False
2,2,0,correct,0.343750,congruent,left,0,4,False
3,3,0,correct,0.304688,congruent,left,0,4,False
4,4,0,incorrect,0.344727,incongruent,left,0,4,False
...,...,...,...,...,...,...,...,...,...
1243,1243,3,correct,0.539062,incongruent,right,3,4,False
1244,1244,3,correct,0.546875,congruent,left,3,4,False
1245,1245,3,correct,0.444336,incongruent,right,3,4,False
1246,1246,3,correct,0.580078,congruent,left,3,4,False
1247,1247,3,correct,0.509766,congruent,left,3,4,False

/home/michael/data/derivatives/results/dataframes/rt_data_sub-027.tsv

,trial,condition,reaction,rt,target,flanker,block,subject,negative_first
0,0,0,correct,0.497070,incongruent,right,0,27,False
1,1,0,correct,0.313477,congruent,right,0,27,False
2,2,0,incorrect,0.307617,incongruent,left,0,27,False
3,3,0,incorrect,0.284180,incongruent,right,0,27,False
4,4,0,correct,0.260742,congruent,right,0,27,False
...,...,...,...,...,...,...,...,...,...
1243,1243,3,correct,0.333984,incongruent,left,3,27,False
1244,1244,3,correct,0.232422,congruent,right,3,27,False
1245,1245,3,correct,0.256836,congruent,right,3,27,False
1246,1246,3,correct,0.521484,incongruent,left,3,27,False
1247,1247,3,correct,0.354492,incongruent,left,3,27,False

/home/michael/data/derivatives/results/dataframes/rt_data_sub-019.tsv

,trial,condition,reaction,rt,target,flanker,block,subject,negative_first
0,0,0,correct,0.510742,congruent,left,0,19,False
1,1,0,correct,0.262695,congruent,right,0,19,False
2,2,0,correct,0.334961,congruent,left,0,19,False
3,3,0,incorrect,0.262695,incongruent,right,0,19,False
4,4,0,correct,0.399414,incongruent,left,0,19,False
...,...,...,...,...,...,...,...,...,...
1243,1243,3,correct,0.361328,incongruent,right,3,19,False
1244,1244,3,correct,0.322266,incongruent,right,3,19,False
1245,1245,3,correct,0.265625,congruent,left,3,19,False
1246,1246,3,correct,0.354492,incongruent,right,3,19,False
1247,1247,3,correct,0.330078,incongruent,left,3,19,False

/home/michael/data/derivatives/results/dataframes/rt_data_sub-028.tsv

,trial,condition,reaction,rt,target,flanker,block,subject,negative_first
0,0,0,correct,0.717773,incongruent,left,0,28,True
1,1,0,correct,0.375977,congruent,right,0,28,True
2,2,0,correct,0.319336,congruent,left,0,28,True
3,3,0,correct,0.440430,incongruent,right,0,28,True
4,4,0,correct,0.304688,congruent,right,0,28,True
...,...,...,...,...,...,...,...,...,...
1243,1243,2,correct,0.277344,congruent,right,2,28,True
1244,1244,2,correct,0.381836,incongruent,left,2,28,True
1245,1245,2,correct,0.358398,incongruent,right,2,28,True
1246,1246,2,incorrect,0.607422,incongruent,left,2,28,True
1247,1247,2,correct,0.311523,congruent,right,2,28,True

/home/michael/data/derivatives/results/dataframes/rt_data_sub-009.tsv

,trial,condition,reaction,rt,target,flanker,block,subject,negative_first
0,0,0,NaN,NaN,congruent,left,0,9,True
1,1,0,correct,0.442383,congruent,right,0,9,True
2,2,0,correct,0.387695,incongruent,left,0,9,True
3,3,0,incorrect,0.107422,congruent,right,0,9,True
4,4,0,incorrect,0.116211,incongruent,right,0,9,True
...,...,...,...,...,...,...,...,...,...
1243,1243,2,correct,0.436523,incongruent,right,2,9,True
1244,1244,2,correct,0.492188,congruent,left,2,9,True
1245,1245,2,correct,0.357422,congruent,left,2,9,True
1246,1246,2,correct,0.413086,incongruent,right,2,9,True
1247,1247,2,correct,0.374023,incongruent,right,2,9,True

/home/michael/data/derivatives/results/dataframes/rt_data_sub-015.tsv

,trial,condition,reaction,rt,target,flanker,block,subject,negative_first
0,0,0,NaN,NaN,incongruent,right,0,15,False
1,1,0,incorrect,0.059570,incongruent,left,0,15,False
2,2,0,correct,0.387695,congruent,left,0,15,False
3,3,0,correct,0.299805,congruent,right,0,15,False
4,4,0,correct,0.436523,incongruent,left,0,15,False
...,...,...,...,...,...,...,...,...,...
1243,1243,3,correct,0.384766,incongruent,right,3,15,False
1244,1244,3,correct,0.393555,incongruent,right,3,15,False
1245,1245,3,correct,0.305664,congruent,left,3,15,False
1246,1246,3,correct,0.330078,congruent,right,3,15,False
1247,1247,3,incorrect,0.290039,incongruent,left,3,15,False

/home/michael/data/derivatives/results/dataframes/rt_data_sub-018.tsv

,trial,condition,reaction,rt,target,flanker,block,subject,negative_first
0,0,0,correct,1.285156,congruent,left,0,18,True
1,1,0,correct,0.510742,incongruent,left,0,18,True
2,2,0,correct,0.455078,incongruent,left,0,18,True
3,3,0,correct,0.542969,congruent,right,0,18,True
4,4,0,correct,0.280273,congruent,left,0,18,True
...,...,...,...,...,...,...,...,...,...
1243,1243,2,correct,0.415039,incongruent,left,2,18,True
1244,1244,2,correct,0.326172,congruent,left,2,18,True
1245,1245,2,correct,0.447266,incongruent,right,2,18,True
1246,1246,2,correct,0.406250,incongruent,left,2,18,True
1247,1247,2,correct,0.382812,incongruent,left,2,18,True

/home/michael/data/derivatives/results/dataframes/rt_data_sub-023.tsv

,trial,condition,reaction,rt,target,flanker,block,subject,negative_first
0,0,0,correct,0.725586,congruent,right,0,23,False
1,1,0,correct,0.542969,incongruent,right,0,23,False
2,2,0,correct,0.390625,incongruent,right,0,23,False
3,3,0,correct,0.272461,congruent,right,0,23,False
4,4,0,correct,0.295898,congruent,left,0,23,False
...,...,...,...,...,...,...,...,...,...
1243,1243,3,incorrect,0.202148,incongruent,left,3,23,False
1244,1244,3,incorrect,0.242188,incongruent,right,3,23,False
1245,1245,3,correct,0.235352,congruent,right,3,23,False
1246,1246,3,correct,0.227539,congruent,left,3,23,False
1247,1247,3,correct,0.299805,congruent,left,3,23,False

/home/michael/data/derivatives/results/dataframes/debugging_rt_data_sub_x.tsv
no, no

,trial,condition,reaction,rt,target,flanker,block,subject,negative_first
937,937,3,correct,0.387695,incongruent,right,3,2,False
834,834,2,correct,0.355469,incongruent,right,2,2,False
833,833,2,correct,0.328125,incongruent,right,2,2,False
832,832,2,correct,0.347656,incongruent,right,2,2,False
831,831,2,correct,0.255859,congruent,left,2,2,False
...,...,...,...,...,...,...,...,...,...
801,801,2,correct,0.269531,congruent,right,2,38,False
802,802,2,correct,0.374023,incongruent,left,2,38,False
803,803,2,correct,0.270508,congruent,right,2,38,False
805,805,2,incorrect,0.271484,incongruent,right,2,38,False
1057,1057,3,correct,0.336914,congruent,left,3,38,False

In [4]:
list_subj_correct = []
list_num_correct = []
list_mean_rt_correct = []
list_sem_correct = []

list_subj_err = []
list_num_err = []
list_mean_rt_err = []
list_sem_err = []
# group by incongruent or congruent target in flanker-task

grouped = rt_df.groupby('subject')

# iterate over split dataframes
for name, group in grouped:
    #print(name)
    #display(group)
    #display(group['reaction'])
    rt_congruent_df = group
    
    
    incorrects = group.groupby('reaction')

    # iterate over split dataframes
    for name_incorrect, group_incorrect in incorrects:
        #print(name_incorrect)
        #display(group)
        if name_incorrect == 'correct':
            #print('number of correct answers subject ' + str(name) + ': ' + str(group_incorrect['reaction'].count()))
            ## add number of correct answers to df
            list_subj_correct.append(name)
            list_num_correct.append(group_incorrect['reaction'].count())
            list_mean_rt_correct.append(group_incorrect['rt'].mean())
            list_sem_correct.append(group_incorrect['rt'].sem())
            
        elif name_incorrect == 'incorrect':
            print('number of errors subject ' + str(name) + ': ' + str(group_incorrect['reaction'].count()))
            list_subj_err.append(name)
            list_num_err.append(group_incorrect['reaction'].count())
            list_mean_rt_err.append(group_incorrect['rt'].mean())
            list_sem_err.append(group_incorrect['rt'].sem())


            ## add number of incorrect answers to df
        else:
            print('nan')
            
            ## add number of incorrect answers to df

number of errors subject 2: 131
number of errors subject 3: 95
number of errors subject 4: 26
number of errors subject 5: 37
number of errors subject 6: 50
number of errors subject 7: 30
number of errors subject 8: 65
number of errors subject 9: 63
number of errors subject 10: 173
number of errors subject 11: 93
number of errors subject 12: 69
number of errors subject 13: 73
number of errors subject 14: 43
number of errors subject 15: 61
number of errors subject 16: 55
number of errors subject 17: 18
number of errors subject 18: 49
number of errors subject 19: 103
number of errors subject 20: 310
number of errors subject 22: 40
number of errors subject 23: 138
number of errors subject 24: 79
number of errors subject 27: 62
number of errors subject 28: 46
number of errors subject 29: 50
number of errors subject 31: 119
number of errors subject 32: 48
number of errors subject 33: 80
number of errors subject 35: 215
number of errors subject 36: 100
number of errors subject 37: 46
number of errors subject 38: 98

In [5]:
subj_rt_df = pd.DataFrame({'subj':list_subj_correct,
                           'num_errors':list_num_err,
                           'num_correct':list_num_correct,
                           'mean_rt_err':list_mean_rt_err,
                           'mean_rt_correct':list_mean_rt_correct,
                           'sem_err': list_sem_err,
                           'sem_correct': list_sem_correct})

In [6]:
subj_rt_df

,subj,num_errors,num_correct,mean_rt_err,mean_rt_correct,sem_err,sem_correct
0,2,131,1115,0.244103,0.318301,0.004748,0.001834
1,3,95,1100,0.295919,0.362143,0.011633,0.002668
2,4,26,1222,0.374437,0.397902,0.040006,0.002392
3,5,37,1211,0.272039,0.354863,0.015261,0.002215
4,6,50,1198,0.280508,0.342162,0.008830,0.001950
5,7,30,1217,0.285189,0.385063,0.011713,0.002581
6,8,65,1176,0.290340,0.358054,0.008555,0.002461
7,9,63,1183,0.251194,0.359444,0.006407,0.002317
8,10,173,1072,0.228544,0.283005,0.003105,0.001640
9,11,93,1155,0.231445,0.312409,0.003153,0.002183
10,12,69,1169,0.321501,0.406750,0.010357,0.003130
11,13,73,1173,0.269812,0.312059,0.005406,0.001511
12,14,43,1205,0.325536,0.374959,0.009248,0.002122
13,15,61,1184,0.284980,0.376766,0.013278,0.002884
14,16,55,1193,0.254847,0.316763,0.007761,0.001507
15,17,18,1230,0.321777,0.473006,0.020565,0.002682
16,18,49,1199,0.383430,0.428833,0.010376,0.002862
17,19,103,1144,0.261491,0.331909,0.003165,0.001857
18,20,310,938,0.217455,0.272534,0.001656,0.001855
19,22,40,1206,0.315479,0.409844,0.032618,0.002702
20,23,138,1110,0.225720,0.276994,0.002660,0.001577
21,24,79,1169,0.303229,0.318926,0.014196,0.001508
22,27,62,1186,0.240549,0.334024,0.005421,0.002199
23,28,46,1202,0.324792,0.360258,0.009020,0.002143
24,29,50,849,0.242734,0.311473,0.003828,0.001751
25,31,119,1129,0.237658,0.307256,0.003386,0.001952
26,32,48,870,0.276428,0.338275,0.016524,0.002296
27,33,80,1159,0.304028,0.375576,0.009464,0.002595
28,35,215,1033,0.299537,0.362037,0.004886,0.002606
29,36,100,1146,0.277959,0.351573,0.006382,0.002177
30,37,46,1200,0.294837,0.361249,0.010229,0.001565
31,38,98,1099,0.294194,0.361712,0.008736,0.002574

In [7]:
subj_rt_df.to_csv('/home/michael/git/master_thesis/data/reaction_times_subject_basis_df.tsv', sep='\t', index=False)