ToDo:
    - find out how "condition" relates to group membership

In [1]:
import mne
import pandas as pd
import numpy as np
import os

In [2]:
mne.sys_info()

Platform:      Linux-5.11.0-37-generic-x86_64-with-debian-bullseye-sid
Python:        3.7.6 (default, Jan  8 2020, 19:59:22)  [GCC 7.3.0]
Executable:    /home/michael/anaconda3/bin/python
CPU:           x86_64: 16 cores
Memory:        15.0 GB

mne:           0.23.4
numpy:         1.18.1 {blas=mkl_rt, lapack=mkl_rt}
scipy:         1.4.1
matplotlib:    3.1.3 {backend=module://ipykernel.pylab.backend_inline}

sklearn:       0.22.1
numba:         0.48.0
nibabel:       Not found
nilearn:       Not found
dipy:          Not found
cupy:          Not found
pandas:        1.0.1
mayavi:        Not found
pyvista:       Not found
vtk:           Not found

In [3]:
rootdir = '/home/michael/data/derivatives/reaction_epochs'

In [4]:
bdi = pd.read_csv('/home/michael/git/master_thesis/data/bdi_ci.tsv', sep='\t',
                  dtype={'subject': str})
des = pd.read_csv('/home/michael/git/master_thesis/data/des_ci.tsv', sep='\t',
                  dtype={'subject': str})
sps = pd.read_csv('/home/michael/git/master_thesis/data/sps_ci.tsv', sep='\t',
                  dtype={'subject': str})

In [5]:
bdi

    bdi_sum_score   bdi_std   upper_ci   lower_ci subject
0               8  0.669043  12.095281   3.904719      02
1               3  0.358569   7.095281  -1.095281      03
2               0  0.000000   4.095281  -4.095281      04
3               0  0.000000   4.095281  -4.095281      05
4               8  0.669043  12.095281   3.904719      06
5               7  0.577350  11.095281   2.904719      07
6               6  0.560612  10.095281   1.904719      08
7               6  0.643650  10.095281   1.904719      09
8               7  0.483046  11.095281   2.904719      10
9               4  0.402374   8.095281  -0.095281      11
10              3  0.478091   7.095281  -1.095281      12
11              1  0.218218   5.095281  -3.095281      13
12              8  0.497613  12.095281   3.904719      14
13             10  0.601585  14.095281   5.904719      15
14              2  0.436436   6.095281  -2.095281      16
15              9  0.507093  13.095281   4.904719      17
16              0  0.000000   4.095281  -4.095281      18
17              4  0.679636   8.095281  -0.095281      19
18              7  0.483046  11.095281   2.904719      20
19             21  0.707107  25.095281  16.904719      21
20             10  0.749603  14.095281   5.904719      22
21              2  0.300793   6.095281  -2.095281      23
22              6  0.560612  10.095281   1.904719      24
23             16  0.538958  20.095281  11.904719      27
24              5  0.436436   9.095281   0.904719      28
25              7  0.483046  11.095281   2.904719      29
26             11  0.813575  15.095281   6.904719      30
27             15  0.902378  19.095281  10.904719      31
28              0  0.000000   4.095281  -4.095281      32
29             11  0.679636  15.095281   6.904719      33
30              5  0.624881   9.095281   0.904719      34
31              7  0.658281  11.095281   2.904719      35
32              4  0.679636   8.095281  -0.095281      36
33              8  0.497613  12.095281   3.904719      37
34              2  0.300793   6.095281  -2.095281      38
35              5  0.624881   9.095281   0.904719      39

subj_id = ['02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18',
           '19', '20', '21', '22', '23', '24', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37',
           '38', '39']

bdi['subject'] = subj_id
des['subject'] = subj_id
sps['subject'] = subj_id

In [6]:
counter = 0
directory = '/home/michael/data/derivatives/results/erp'

if not os.path.exists(directory):
    os.makedirs(directory)

for subdir, dirs, files in os.walk(rootdir):
    for file in files:
        filepath = subdir + os.sep + file
        if filepath.endswith(".fif"):
            print (filepath)
            print((filepath.split('/')[-2].split('-')[-1]))
            subject = (filepath.split('/')[-2].split('-')[-1])[-2:]
             # get epochs
            cue_epochs = mne.read_epochs(filepath, preload=True)


            correct_epochs = cue_epochs['correct_incongruent', 'correct_congruent']

            correct_epochs.apply_baseline((-0.300, -0.050))
            correct_epochs_test = correct_epochs['condition == 0']
            correct_epochs_baseline = correct_epochs['condition == 1']
            correct_epochs_2 = correct_epochs['condition == 2']
            correct_epochs_3 = correct_epochs['condition == 3']

            # epochs to pandas dataframe
            df_correct_baseline = correct_epochs_baseline.to_data_frame(long_format=True)
            df_correct_baseline['exp_condition'] = 'baseline'
            df_correct_2 = correct_epochs_2.to_data_frame(long_format=True)
            df_correct_2['exp_condition'] = '2'
            df_correct_3 = correct_epochs_3.to_data_frame(long_format=True)
            df_correct_3['exp_condition'] = '3'
            df_correct = df_correct_baseline.append(df_correct_2)
            df_correct = df_correct.append(df_correct_3)
            #display(correct_epochs_baseline.metadata)
            if correct_epochs_baseline.metadata['negative_first'].iloc[0] == True:
                group = 'negative_first'
            elif correct_epochs_baseline.metadata['negative_first'].iloc[0] == False:
                group = 'positive_first'
            df_correct['group'] = group
            df_correct['bdi_sum_score'] = bdi.loc[bdi['subject'] == subject[-2:]]['bdi_sum_score'].values[0]
            df_correct['des_sum_score'] = des.loc[des['subject'] == subject[-2:]]['des_sum_score'].values[0]
            df_correct['sps_sum_score'] = sps.loc[des['subject'] == subject[-2:]]['sp_sum_score'].values[0]

            #display(df_correct)
            
            if counter == 0:
                CRN = df_correct[((df_correct["time"] >= 0) & (df_correct["time"] <= 100))
                           & ((df_correct["channel"] == 'Fz') |
                              (df_correct["channel"] == 'FCz') |
                              (df_correct["channel"] == 'Cz') | 
                              (df_correct["channel"] == 'CPz') |
                              (df_correct["channel"] == 'Pz'))]
                CRN = CRN.assign(subject=subject)
                CRN.to_csv('/home/michael/data/derivatives/results/erp/crn_sub-' + subject + '.tsv', sep='\t', index=False)

                
            else:
                CRN_temp = df_correct[((df_correct["time"] >= 0) & (df_correct["time"] <= 100))
                           & ((df_correct["channel"] == 'Fz') |
                              (df_correct["channel"] == 'FCz') |
                              (df_correct["channel"] == 'Cz') | 
                              (df_correct["channel"] == 'CPz') |
                              (df_correct["channel"] == 'Pz'))]
                CRN_temp = CRN_temp.assign(subject=subject)
                CRN_temp.to_csv('/home/michael/data/derivatives/results/erp/crn_sub-' + subject + '.tsv', sep='\t', index=False)

                CRN = CRN.append(CRN_temp)
                display(CRN_temp)
                display(CRN)
            counter +=1

/home/michael/data/derivatives/reaction_epochs/sub-007/sub-007-reaction_epochs-epo.fif
007
Reading /home/michael/data/derivatives/reaction_epochs/sub-007/sub-007-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1229 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
/home/michael/data/derivatives/reaction_epochs/sub-009/sub-009-reaction_epochs-epo.fif
009
Reading /home/michael/data/derivatives/reaction_epochs/sub-009/sub-009-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1234 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_incongruent,48,0,Pz,eeg,-2.944312,baseline,negative_first,6,70,6,09
12319,correct_incongruent,48,0,CPz,eeg,-6.759031,baseline,negative_first,6,70,6,09
12325,correct_incongruent,48,0,Fz,eeg,10.390014,baseline,negative_first,6,70,6,09
12334,correct_incongruent,48,0,FCz,eeg,8.802264,baseline,negative_first,6,70,6,09
12335,correct_incongruent,48,0,Cz,eeg,0.706449,baseline,negative_first,6,70,6,09
...,...,...,...,...,...,...,...,...,...,...,...,...
9573406,correct_incongruent,842,94,Pz,eeg,-0.266721,3,negative_first,6,70,6,09
9573407,correct_incongruent,842,94,CPz,eeg,1.114624,3,negative_first,6,70,6,09
9573413,correct_incongruent,842,94,Fz,eeg,-4.411711,3,negative_first,6,70,6,09
9573422,correct_incongruent,842,94,FCz,eeg,-1.289859,3,negative_first,6,70,6,09
9573423,correct_incongruent,842,94,Cz,eeg,5.841805,3,negative_first,6,70,6,09

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_congruent,50,0,Pz,eeg,6.147827,baseline,negative_first,7,62,4,07
12319,correct_congruent,50,0,CPz,eeg,7.788848,baseline,negative_first,7,62,4,07
12325,correct_congruent,50,0,Fz,eeg,3.760848,baseline,negative_first,7,62,4,07
12334,correct_congruent,50,0,FCz,eeg,4.693713,baseline,negative_first,7,62,4,07
12335,correct_congruent,50,0,Cz,eeg,4.384005,baseline,negative_first,7,62,4,07
...,...,...,...,...,...,...,...,...,...,...,...,...
9573406,correct_incongruent,842,94,Pz,eeg,-0.266721,3,negative_first,6,70,6,09
9573407,correct_incongruent,842,94,CPz,eeg,1.114624,3,negative_first,6,70,6,09
9573413,correct_incongruent,842,94,Fz,eeg,-4.411711,3,negative_first,6,70,6,09
9573422,correct_incongruent,842,94,FCz,eeg,-1.289859,3,negative_first,6,70,6,09
9573423,correct_incongruent,842,94,Cz,eeg,5.841805,3,negative_first,6,70,6,09

/home/michael/data/derivatives/reaction_epochs/sub-018/sub-018-reaction_epochs-epo.fif
018
Reading /home/michael/data/derivatives/reaction_epochs/sub-018/sub-018-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1223 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_congruent,50,0,Pz,eeg,-1.016117,baseline,negative_first,0,63,3,18
12319,correct_congruent,50,0,CPz,eeg,-2.172129,baseline,negative_first,0,63,3,18
12325,correct_congruent,50,0,Fz,eeg,-4.301439,baseline,negative_first,0,63,3,18
12334,correct_congruent,50,0,FCz,eeg,1.579124,baseline,negative_first,0,63,3,18
12335,correct_congruent,50,0,Cz,eeg,-1.279637,baseline,negative_first,0,63,3,18
...,...,...,...,...,...,...,...,...,...,...,...,...
9327006,correct_congruent,845,94,Pz,eeg,7.924622,3,negative_first,0,63,3,18
9327007,correct_congruent,845,94,CPz,eeg,5.004389,3,negative_first,0,63,3,18
9327013,correct_congruent,845,94,Fz,eeg,-2.799053,3,negative_first,0,63,3,18
9327022,correct_congruent,845,94,FCz,eeg,6.953091,3,negative_first,0,63,3,18
9327023,correct_congruent,845,94,Cz,eeg,10.529783,3,negative_first,0,63,3,18

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_congruent,50,0,Pz,eeg,6.147827,baseline,negative_first,7,62,4,07
12319,correct_congruent,50,0,CPz,eeg,7.788848,baseline,negative_first,7,62,4,07
12325,correct_congruent,50,0,Fz,eeg,3.760848,baseline,negative_first,7,62,4,07
12334,correct_congruent,50,0,FCz,eeg,4.693713,baseline,negative_first,7,62,4,07
12335,correct_congruent,50,0,Cz,eeg,4.384005,baseline,negative_first,7,62,4,07
...,...,...,...,...,...,...,...,...,...,...,...,...
9327006,correct_congruent,845,94,Pz,eeg,7.924622,3,negative_first,0,63,3,18
9327007,correct_congruent,845,94,CPz,eeg,5.004389,3,negative_first,0,63,3,18
9327013,correct_congruent,845,94,Fz,eeg,-2.799053,3,negative_first,0,63,3,18
9327022,correct_congruent,845,94,FCz,eeg,6.953091,3,negative_first,0,63,3,18
9327023,correct_congruent,845,94,Cz,eeg,10.529783,3,negative_first,0,63,3,18

/home/michael/data/derivatives/reaction_epochs/sub-011/sub-011-reaction_epochs-epo.fif
011
Reading /home/michael/data/derivatives/reaction_epochs/sub-011/sub-011-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1219 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_congruent,51,0,Pz,eeg,5.438924,baseline,positive_first,4,68,0,11
12319,correct_congruent,51,0,CPz,eeg,4.120885,baseline,positive_first,4,68,0,11
12325,correct_congruent,51,0,Fz,eeg,4.243446,baseline,positive_first,4,68,0,11
12334,correct_congruent,51,0,FCz,eeg,8.251880,baseline,positive_first,4,68,0,11
12335,correct_congruent,51,0,Cz,eeg,7.488420,baseline,positive_first,4,68,0,11
...,...,...,...,...,...,...,...,...,...,...,...,...
8711006,correct_congruent,1247,94,Pz,eeg,1.038552,3,positive_first,4,68,0,11
8711007,correct_congruent,1247,94,CPz,eeg,6.505437,3,positive_first,4,68,0,11
8711013,correct_congruent,1247,94,Fz,eeg,4.311569,3,positive_first,4,68,0,11
8711022,correct_congruent,1247,94,FCz,eeg,10.506702,3,positive_first,4,68,0,11
8711023,correct_congruent,1247,94,Cz,eeg,12.135475,3,positive_first,4,68,0,11

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_congruent,50,0,Pz,eeg,6.147827,baseline,negative_first,7,62,4,07
12319,correct_congruent,50,0,CPz,eeg,7.788848,baseline,negative_first,7,62,4,07
12325,correct_congruent,50,0,Fz,eeg,3.760848,baseline,negative_first,7,62,4,07
12334,correct_congruent,50,0,FCz,eeg,4.693713,baseline,negative_first,7,62,4,07
12335,correct_congruent,50,0,Cz,eeg,4.384005,baseline,negative_first,7,62,4,07
...,...,...,...,...,...,...,...,...,...,...,...,...
8711006,correct_congruent,1247,94,Pz,eeg,1.038552,3,positive_first,4,68,0,11
8711007,correct_congruent,1247,94,CPz,eeg,6.505437,3,positive_first,4,68,0,11
8711013,correct_congruent,1247,94,Fz,eeg,4.311569,3,positive_first,4,68,0,11
8711022,correct_congruent,1247,94,FCz,eeg,10.506702,3,positive_first,4,68,0,11
8711023,correct_congruent,1247,94,Cz,eeg,12.135475,3,positive_first,4,68,0,11

/home/michael/data/derivatives/reaction_epochs/sub-023/sub-023-reaction_epochs-epo.fif
023
Reading /home/michael/data/derivatives/reaction_epochs/sub-023/sub-023-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1181 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_incongruent,51,0,Pz,eeg,11.660042,baseline,positive_first,2,68,28,23
12319,correct_incongruent,51,0,CPz,eeg,14.592268,baseline,positive_first,2,68,28,23
12325,correct_incongruent,51,0,Fz,eeg,6.854360,baseline,positive_first,2,68,28,23
12334,correct_incongruent,51,0,FCz,eeg,8.479424,baseline,positive_first,2,68,28,23
12335,correct_incongruent,51,0,Cz,eeg,15.641561,baseline,positive_first,2,68,28,23
...,...,...,...,...,...,...,...,...,...,...,...,...
8858846,correct_congruent,1247,94,Pz,eeg,4.173053,3,positive_first,2,68,28,23
8858847,correct_congruent,1247,94,CPz,eeg,2.453519,3,positive_first,2,68,28,23
8858853,correct_congruent,1247,94,Fz,eeg,-2.384268,3,positive_first,2,68,28,23
8858862,correct_congruent,1247,94,FCz,eeg,-1.521891,3,positive_first,2,68,28,23
8858863,correct_congruent,1247,94,Cz,eeg,2.441173,3,positive_first,2,68,28,23

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_congruent,50,0,Pz,eeg,6.147827,baseline,negative_first,7,62,4,07
12319,correct_congruent,50,0,CPz,eeg,7.788848,baseline,negative_first,7,62,4,07
12325,correct_congruent,50,0,Fz,eeg,3.760848,baseline,negative_first,7,62,4,07
12334,correct_congruent,50,0,FCz,eeg,4.693713,baseline,negative_first,7,62,4,07
12335,correct_congruent,50,0,Cz,eeg,4.384005,baseline,negative_first,7,62,4,07
...,...,...,...,...,...,...,...,...,...,...,...,...
8858846,correct_congruent,1247,94,Pz,eeg,4.173053,3,positive_first,2,68,28,23
8858847,correct_congruent,1247,94,CPz,eeg,2.453519,3,positive_first,2,68,28,23
8858853,correct_congruent,1247,94,Fz,eeg,-2.384268,3,positive_first,2,68,28,23
8858862,correct_congruent,1247,94,FCz,eeg,-1.521891,3,positive_first,2,68,28,23
8858863,correct_congruent,1247,94,Cz,eeg,2.441173,3,positive_first,2,68,28,23

/home/michael/data/derivatives/reaction_epochs/sub-031/sub-031-reaction_epochs-epo.fif
031
Reading /home/michael/data/derivatives/reaction_epochs/sub-031/sub-031-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1227 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_congruent,50,0,Pz,eeg,9.482471,baseline,positive_first,15,67,14,31
12319,correct_congruent,50,0,CPz,eeg,15.364454,baseline,positive_first,15,67,14,31
12325,correct_congruent,50,0,Fz,eeg,-0.632266,baseline,positive_first,15,67,14,31
12334,correct_congruent,50,0,FCz,eeg,12.256838,baseline,positive_first,15,67,14,31
12335,correct_congruent,50,0,Cz,eeg,14.112863,baseline,positive_first,15,67,14,31
...,...,...,...,...,...,...,...,...,...,...,...,...
8957406,correct_congruent,1247,94,Pz,eeg,0.570885,3,positive_first,15,67,14,31
8957407,correct_congruent,1247,94,CPz,eeg,2.630232,3,positive_first,15,67,14,31
8957413,correct_congruent,1247,94,Fz,eeg,9.687324,3,positive_first,15,67,14,31
8957422,correct_congruent,1247,94,FCz,eeg,9.904770,3,positive_first,15,67,14,31
8957423,correct_congruent,1247,94,Cz,eeg,6.652795,3,positive_first,15,67,14,31

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_congruent,50,0,Pz,eeg,6.147827,baseline,negative_first,7,62,4,07
12319,correct_congruent,50,0,CPz,eeg,7.788848,baseline,negative_first,7,62,4,07
12325,correct_congruent,50,0,Fz,eeg,3.760848,baseline,negative_first,7,62,4,07
12334,correct_congruent,50,0,FCz,eeg,4.693713,baseline,negative_first,7,62,4,07
12335,correct_congruent,50,0,Cz,eeg,4.384005,baseline,negative_first,7,62,4,07
...,...,...,...,...,...,...,...,...,...,...,...,...
8957406,correct_congruent,1247,94,Pz,eeg,0.570885,3,positive_first,15,67,14,31
8957407,correct_congruent,1247,94,CPz,eeg,2.630232,3,positive_first,15,67,14,31
8957413,correct_congruent,1247,94,Fz,eeg,9.687324,3,positive_first,15,67,14,31
8957422,correct_congruent,1247,94,FCz,eeg,9.904770,3,positive_first,15,67,14,31
8957423,correct_congruent,1247,94,Cz,eeg,6.652795,3,positive_first,15,67,14,31

/home/michael/data/derivatives/reaction_epochs/sub-008/sub-008-reaction_epochs-epo.fif
008
Reading /home/michael/data/derivatives/reaction_epochs/sub-008/sub-008-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1224 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_congruent,50,0,Pz,eeg,3.756855,baseline,positive_first,6,50,2,08
12319,correct_congruent,50,0,CPz,eeg,3.212453,baseline,positive_first,6,50,2,08
12325,correct_congruent,50,0,Fz,eeg,-11.119614,baseline,positive_first,6,50,2,08
12334,correct_congruent,50,0,FCz,eeg,-8.668508,baseline,positive_first,6,50,2,08
12335,correct_congruent,50,0,Cz,eeg,-3.482777,baseline,positive_first,6,50,2,08
...,...,...,...,...,...,...,...,...,...,...,...,...
9228446,correct_incongruent,1240,94,Pz,eeg,-1.548419,3,positive_first,6,50,2,08
9228447,correct_incongruent,1240,94,CPz,eeg,1.814400,3,positive_first,6,50,2,08
9228453,correct_incongruent,1240,94,Fz,eeg,8.655300,3,positive_first,6,50,2,08
9228462,correct_incongruent,1240,94,FCz,eeg,7.829661,3,positive_first,6,50,2,08
9228463,correct_incongruent,1240,94,Cz,eeg,5.400321,3,positive_first,6,50,2,08

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_congruent,50,0,Pz,eeg,6.147827,baseline,negative_first,7,62,4,07
12319,correct_congruent,50,0,CPz,eeg,7.788848,baseline,negative_first,7,62,4,07
12325,correct_congruent,50,0,Fz,eeg,3.760848,baseline,negative_first,7,62,4,07
12334,correct_congruent,50,0,FCz,eeg,4.693713,baseline,negative_first,7,62,4,07
12335,correct_congruent,50,0,Cz,eeg,4.384005,baseline,negative_first,7,62,4,07
...,...,...,...,...,...,...,...,...,...,...,...,...
9228446,correct_incongruent,1240,94,Pz,eeg,-1.548419,3,positive_first,6,50,2,08
9228447,correct_incongruent,1240,94,CPz,eeg,1.814400,3,positive_first,6,50,2,08
9228453,correct_incongruent,1240,94,Fz,eeg,8.655300,3,positive_first,6,50,2,08
9228462,correct_incongruent,1240,94,FCz,eeg,7.829661,3,positive_first,6,50,2,08
9228463,correct_incongruent,1240,94,Cz,eeg,5.400321,3,positive_first,6,50,2,08

/home/michael/data/derivatives/reaction_epochs/sub-022/sub-022-reaction_epochs-epo.fif
022
Reading /home/michael/data/derivatives/reaction_epochs/sub-022/sub-022-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1236 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_incongruent,50,0,Pz,eeg,1.101728,baseline,negative_first,10,64,22,22
12319,correct_incongruent,50,0,CPz,eeg,12.301312,baseline,negative_first,10,64,22,22
12325,correct_incongruent,50,0,Fz,eeg,9.187073,baseline,negative_first,10,64,22,22
12334,correct_incongruent,50,0,FCz,eeg,13.429270,baseline,negative_first,10,64,22,22
12335,correct_incongruent,50,0,Cz,eeg,12.367557,baseline,negative_first,10,64,22,22
...,...,...,...,...,...,...,...,...,...,...,...,...
9548766,correct_incongruent,846,94,Pz,eeg,-0.657949,3,negative_first,10,64,22,22
9548767,correct_incongruent,846,94,CPz,eeg,14.829189,3,negative_first,10,64,22,22
9548773,correct_incongruent,846,94,Fz,eeg,11.276575,3,negative_first,10,64,22,22
9548782,correct_incongruent,846,94,FCz,eeg,20.943808,3,negative_first,10,64,22,22
9548783,correct_incongruent,846,94,Cz,eeg,15.264685,3,negative_first,10,64,22,22

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_congruent,50,0,Pz,eeg,6.147827,baseline,negative_first,7,62,4,07
12319,correct_congruent,50,0,CPz,eeg,7.788848,baseline,negative_first,7,62,4,07
12325,correct_congruent,50,0,Fz,eeg,3.760848,baseline,negative_first,7,62,4,07
12334,correct_congruent,50,0,FCz,eeg,4.693713,baseline,negative_first,7,62,4,07
12335,correct_congruent,50,0,Cz,eeg,4.384005,baseline,negative_first,7,62,4,07
...,...,...,...,...,...,...,...,...,...,...,...,...
9548766,correct_incongruent,846,94,Pz,eeg,-0.657949,3,negative_first,10,64,22,22
9548767,correct_incongruent,846,94,CPz,eeg,14.829189,3,negative_first,10,64,22,22
9548773,correct_incongruent,846,94,Fz,eeg,11.276575,3,negative_first,10,64,22,22
9548782,correct_incongruent,846,94,FCz,eeg,20.943808,3,negative_first,10,64,22,22
9548783,correct_incongruent,846,94,Cz,eeg,15.264685,3,negative_first,10,64,22,22

/home/michael/data/derivatives/reaction_epochs/sub-036/sub-036-reaction_epochs-epo.fif
036
Reading /home/michael/data/derivatives/reaction_epochs/sub-036/sub-036-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1215 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_incongruent,49,0,Pz,eeg,5.104291,baseline,negative_first,4,70,15,36
12319,correct_incongruent,49,0,CPz,eeg,10.322550,baseline,negative_first,4,70,15,36
12325,correct_incongruent,49,0,Fz,eeg,4.050345,baseline,negative_first,4,70,15,36
12334,correct_incongruent,49,0,FCz,eeg,9.124823,baseline,negative_first,4,70,15,36
12335,correct_incongruent,49,0,Cz,eeg,10.795791,baseline,negative_first,4,70,15,36
...,...,...,...,...,...,...,...,...,...,...,...,...
8809566,correct_incongruent,842,94,Pz,eeg,8.929945,3,negative_first,4,70,15,36
8809567,correct_incongruent,842,94,CPz,eeg,14.191561,3,negative_first,4,70,15,36
8809573,correct_incongruent,842,94,Fz,eeg,-1.680899,3,negative_first,4,70,15,36
8809582,correct_incongruent,842,94,FCz,eeg,6.914508,3,negative_first,4,70,15,36
8809583,correct_incongruent,842,94,Cz,eeg,11.416643,3,negative_first,4,70,15,36

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_congruent,50,0,Pz,eeg,6.147827,baseline,negative_first,7,62,4,07
12319,correct_congruent,50,0,CPz,eeg,7.788848,baseline,negative_first,7,62,4,07
12325,correct_congruent,50,0,Fz,eeg,3.760848,baseline,negative_first,7,62,4,07
12334,correct_congruent,50,0,FCz,eeg,4.693713,baseline,negative_first,7,62,4,07
12335,correct_congruent,50,0,Cz,eeg,4.384005,baseline,negative_first,7,62,4,07
...,...,...,...,...,...,...,...,...,...,...,...,...
8809566,correct_incongruent,842,94,Pz,eeg,8.929945,3,negative_first,4,70,15,36
8809567,correct_incongruent,842,94,CPz,eeg,14.191561,3,negative_first,4,70,15,36
8809573,correct_incongruent,842,94,Fz,eeg,-1.680899,3,negative_first,4,70,15,36
8809582,correct_incongruent,842,94,FCz,eeg,6.914508,3,negative_first,4,70,15,36
8809583,correct_incongruent,842,94,Cz,eeg,11.416643,3,negative_first,4,70,15,36

/home/michael/data/derivatives/reaction_epochs/sub-003/sub-003-reaction_epochs-epo.fif
003
Reading /home/michael/data/derivatives/reaction_epochs/sub-003/sub-003-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1176 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_incongruent,1,0,Pz,eeg,2.711979,baseline,negative_first,3,62,7,03
12319,correct_incongruent,1,0,CPz,eeg,7.768279,baseline,negative_first,3,62,7,03
12325,correct_incongruent,1,0,Fz,eeg,-0.718958,baseline,negative_first,3,62,7,03
12334,correct_incongruent,1,0,FCz,eeg,5.807937,baseline,negative_first,3,62,7,03
12335,correct_incongruent,1,0,Cz,eeg,4.528406,baseline,negative_first,3,62,7,03
...,...,...,...,...,...,...,...,...,...,...,...,...
8858846,correct_congruent,791,94,Pz,eeg,-8.432640,3,negative_first,3,62,7,03
8858847,correct_congruent,791,94,CPz,eeg,3.696246,3,negative_first,3,62,7,03
8858853,correct_congruent,791,94,Fz,eeg,6.079133,3,negative_first,3,62,7,03
8858862,correct_congruent,791,94,FCz,eeg,11.157848,3,negative_first,3,62,7,03
8858863,correct_congruent,791,94,Cz,eeg,9.075562,3,negative_first,3,62,7,03

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_congruent,50,0,Pz,eeg,6.147827,baseline,negative_first,7,62,4,07
12319,correct_congruent,50,0,CPz,eeg,7.788848,baseline,negative_first,7,62,4,07
12325,correct_congruent,50,0,Fz,eeg,3.760848,baseline,negative_first,7,62,4,07
12334,correct_congruent,50,0,FCz,eeg,4.693713,baseline,negative_first,7,62,4,07
12335,correct_congruent,50,0,Cz,eeg,4.384005,baseline,negative_first,7,62,4,07
...,...,...,...,...,...,...,...,...,...,...,...,...
8858846,correct_congruent,791,94,Pz,eeg,-8.432640,3,negative_first,3,62,7,03
8858847,correct_congruent,791,94,CPz,eeg,3.696246,3,negative_first,3,62,7,03
8858853,correct_congruent,791,94,Fz,eeg,6.079133,3,negative_first,3,62,7,03
8858862,correct_congruent,791,94,FCz,eeg,11.157848,3,negative_first,3,62,7,03
8858863,correct_congruent,791,94,Cz,eeg,9.075562,3,negative_first,3,62,7,03

/home/michael/data/derivatives/reaction_epochs/sub-029/sub-029-reaction_epochs-epo.fif
029
Reading /home/michael/data/derivatives/reaction_epochs/sub-029/sub-029-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
881 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_congruent,50,0,Pz,eeg,0.738515,baseline,positive_first,7,71,18,29
12319,correct_congruent,50,0,CPz,eeg,-0.000525,baseline,positive_first,7,71,18,29
12325,correct_congruent,50,0,Fz,eeg,0.169594,baseline,positive_first,7,71,18,29
12334,correct_congruent,50,0,FCz,eeg,4.562977,baseline,positive_first,7,71,18,29
12335,correct_congruent,50,0,Cz,eeg,5.014381,baseline,positive_first,7,71,18,29
...,...,...,...,...,...,...,...,...,...,...,...,...
1121886,correct_incongruent,897,94,Pz,eeg,0.826514,3,positive_first,7,71,18,29
1121887,correct_incongruent,897,94,CPz,eeg,0.150311,3,positive_first,7,71,18,29
1121893,correct_incongruent,897,94,Fz,eeg,-0.658064,3,positive_first,7,71,18,29
1121902,correct_incongruent,897,94,FCz,eeg,4.591048,3,positive_first,7,71,18,29
1121903,correct_incongruent,897,94,Cz,eeg,0.837079,3,positive_first,7,71,18,29

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_congruent,50,0,Pz,eeg,6.147827,baseline,negative_first,7,62,4,07
12319,correct_congruent,50,0,CPz,eeg,7.788848,baseline,negative_first,7,62,4,07
12325,correct_congruent,50,0,Fz,eeg,3.760848,baseline,negative_first,7,62,4,07
12334,correct_congruent,50,0,FCz,eeg,4.693713,baseline,negative_first,7,62,4,07
12335,correct_congruent,50,0,Cz,eeg,4.384005,baseline,negative_first,7,62,4,07
...,...,...,...,...,...,...,...,...,...,...,...,...
1121886,correct_incongruent,897,94,Pz,eeg,0.826514,3,positive_first,7,71,18,29
1121887,correct_incongruent,897,94,CPz,eeg,0.150311,3,positive_first,7,71,18,29
1121893,correct_incongruent,897,94,Fz,eeg,-0.658064,3,positive_first,7,71,18,29
1121902,correct_incongruent,897,94,FCz,eeg,4.591048,3,positive_first,7,71,18,29
1121903,correct_incongruent,897,94,Cz,eeg,0.837079,3,positive_first,7,71,18,29

/home/michael/data/derivatives/reaction_epochs/sub-004/sub-004-reaction_epochs-epo.fif
004
Reading /home/michael/data/derivatives/reaction_epochs/sub-004/sub-004-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1215 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_incongruent,52,0,Pz,eeg,-3.311913,baseline,positive_first,0,71,3,04
12319,correct_incongruent,52,0,CPz,eeg,-9.129618,baseline,positive_first,0,71,3,04
12325,correct_incongruent,52,0,Fz,eeg,-7.377058,baseline,positive_first,0,71,3,04
12334,correct_incongruent,52,0,FCz,eeg,-6.595582,baseline,positive_first,0,71,3,04
12335,correct_incongruent,52,0,Cz,eeg,-13.119514,baseline,positive_first,0,71,3,04
...,...,...,...,...,...,...,...,...,...,...,...,...
9351646,correct_congruent,1247,94,Pz,eeg,-7.758026,3,positive_first,0,71,3,04
9351647,correct_congruent,1247,94,CPz,eeg,-15.241237,3,positive_first,0,71,3,04
9351653,correct_congruent,1247,94,Fz,eeg,2.679816,3,positive_first,0,71,3,04
9351662,correct_congruent,1247,94,FCz,eeg,-5.477056,3,positive_first,0,71,3,04
9351663,correct_congruent,1247,94,Cz,eeg,-15.382885,3,positive_first,0,71,3,04

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_congruent,50,0,Pz,eeg,6.147827,baseline,negative_first,7,62,4,07
12319,correct_congruent,50,0,CPz,eeg,7.788848,baseline,negative_first,7,62,4,07
12325,correct_congruent,50,0,Fz,eeg,3.760848,baseline,negative_first,7,62,4,07
12334,correct_congruent,50,0,FCz,eeg,4.693713,baseline,negative_first,7,62,4,07
12335,correct_congruent,50,0,Cz,eeg,4.384005,baseline,negative_first,7,62,4,07
...,...,...,...,...,...,...,...,...,...,...,...,...
9351646,correct_congruent,1247,94,Pz,eeg,-7.758026,3,positive_first,0,71,3,04
9351647,correct_congruent,1247,94,CPz,eeg,-15.241237,3,positive_first,0,71,3,04
9351653,correct_congruent,1247,94,Fz,eeg,2.679816,3,positive_first,0,71,3,04
9351662,correct_congruent,1247,94,FCz,eeg,-5.477056,3,positive_first,0,71,3,04
9351663,correct_congruent,1247,94,Cz,eeg,-15.382885,3,positive_first,0,71,3,04

/home/michael/data/derivatives/reaction_epochs/sub-005/sub-005-reaction_epochs-epo.fif
005
Reading /home/michael/data/derivatives/reaction_epochs/sub-005/sub-005-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1214 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_incongruent,55,0,Pz,eeg,4.532899,baseline,negative_first,0,61,11,05
12319,correct_incongruent,55,0,CPz,eeg,5.616168,baseline,negative_first,0,61,11,05
12325,correct_incongruent,55,0,Fz,eeg,2.387200,baseline,negative_first,0,61,11,05
12334,correct_incongruent,55,0,FCz,eeg,7.255307,baseline,negative_first,0,61,11,05
12335,correct_incongruent,55,0,Cz,eeg,6.393095,baseline,negative_first,0,61,11,05
...,...,...,...,...,...,...,...,...,...,...,...,...
9351646,correct_congruent,843,94,Pz,eeg,9.965840,3,negative_first,0,61,11,05
9351647,correct_congruent,843,94,CPz,eeg,8.191448,3,negative_first,0,61,11,05
9351653,correct_congruent,843,94,Fz,eeg,-10.672572,3,negative_first,0,61,11,05
9351662,correct_congruent,843,94,FCz,eeg,8.035967,3,negative_first,0,61,11,05
9351663,correct_congruent,843,94,Cz,eeg,16.628479,3,negative_first,0,61,11,05

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_congruent,50,0,Pz,eeg,6.147827,baseline,negative_first,7,62,4,07
12319,correct_congruent,50,0,CPz,eeg,7.788848,baseline,negative_first,7,62,4,07
12325,correct_congruent,50,0,Fz,eeg,3.760848,baseline,negative_first,7,62,4,07
12334,correct_congruent,50,0,FCz,eeg,4.693713,baseline,negative_first,7,62,4,07
12335,correct_congruent,50,0,Cz,eeg,4.384005,baseline,negative_first,7,62,4,07
...,...,...,...,...,...,...,...,...,...,...,...,...
9351646,correct_congruent,843,94,Pz,eeg,9.965840,3,negative_first,0,61,11,05
9351647,correct_congruent,843,94,CPz,eeg,8.191448,3,negative_first,0,61,11,05
9351653,correct_congruent,843,94,Fz,eeg,-10.672572,3,negative_first,0,61,11,05
9351662,correct_congruent,843,94,FCz,eeg,8.035967,3,negative_first,0,61,11,05
9351663,correct_congruent,843,94,Cz,eeg,16.628479,3,negative_first,0,61,11,05

/home/michael/data/derivatives/reaction_epochs/sub-015/sub-015-reaction_epochs-epo.fif
015
Reading /home/michael/data/derivatives/reaction_epochs/sub-015/sub-015-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1220 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_incongruent,49,0,Pz,eeg,2.287784,baseline,positive_first,10,56,20,15
12319,correct_incongruent,49,0,CPz,eeg,-0.820601,baseline,positive_first,10,56,20,15
12325,correct_incongruent,49,0,Fz,eeg,-10.556578,baseline,positive_first,10,56,20,15
12334,correct_incongruent,49,0,FCz,eeg,-3.201305,baseline,positive_first,10,56,20,15
12335,correct_incongruent,49,0,Cz,eeg,1.134171,baseline,positive_first,10,56,20,15
...,...,...,...,...,...,...,...,...,...,...,...,...
9203806,correct_congruent,1243,94,Pz,eeg,14.103682,3,positive_first,10,56,20,15
9203807,correct_congruent,1243,94,CPz,eeg,12.656070,3,positive_first,10,56,20,15
9203813,correct_congruent,1243,94,Fz,eeg,-8.247414,3,positive_first,10,56,20,15
9203822,correct_congruent,1243,94,FCz,eeg,-6.271517,3,positive_first,10,56,20,15
9203823,correct_congruent,1243,94,Cz,eeg,2.480189,3,positive_first,10,56,20,15

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_congruent,50,0,Pz,eeg,6.147827,baseline,negative_first,7,62,4,07
12319,correct_congruent,50,0,CPz,eeg,7.788848,baseline,negative_first,7,62,4,07
12325,correct_congruent,50,0,Fz,eeg,3.760848,baseline,negative_first,7,62,4,07
12334,correct_congruent,50,0,FCz,eeg,4.693713,baseline,negative_first,7,62,4,07
12335,correct_congruent,50,0,Cz,eeg,4.384005,baseline,negative_first,7,62,4,07
...,...,...,...,...,...,...,...,...,...,...,...,...
9203806,correct_congruent,1243,94,Pz,eeg,14.103682,3,positive_first,10,56,20,15
9203807,correct_congruent,1243,94,CPz,eeg,12.656070,3,positive_first,10,56,20,15
9203813,correct_congruent,1243,94,Fz,eeg,-8.247414,3,positive_first,10,56,20,15
9203822,correct_congruent,1243,94,FCz,eeg,-6.271517,3,positive_first,10,56,20,15
9203823,correct_congruent,1243,94,Cz,eeg,2.480189,3,positive_first,10,56,20,15

/home/michael/data/derivatives/reaction_epochs/sub-002/sub-002-reaction_epochs-epo.fif
002
Reading /home/michael/data/derivatives/reaction_epochs/sub-002/sub-002-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1231 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_incongruent,49,0,Pz,eeg,14.664018,baseline,positive_first,8,67,10,02
12319,correct_incongruent,49,0,CPz,eeg,13.225795,baseline,positive_first,8,67,10,02
12325,correct_incongruent,49,0,Fz,eeg,-7.625797,baseline,positive_first,8,67,10,02
12334,correct_incongruent,49,0,FCz,eeg,-1.717892,baseline,positive_first,8,67,10,02
12335,correct_incongruent,49,0,Cz,eeg,7.815896,baseline,positive_first,8,67,10,02
...,...,...,...,...,...,...,...,...,...,...,...,...
8982046,correct_congruent,1245,94,Pz,eeg,1.500946,3,positive_first,8,67,10,02
8982047,correct_congruent,1245,94,CPz,eeg,2.434735,3,positive_first,8,67,10,02
8982053,correct_congruent,1245,94,Fz,eeg,0.518818,3,positive_first,8,67,10,02
8982062,correct_congruent,1245,94,FCz,eeg,2.333084,3,positive_first,8,67,10,02
8982063,correct_congruent,1245,94,Cz,eeg,2.394192,3,positive_first,8,67,10,02

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_congruent,50,0,Pz,eeg,6.147827,baseline,negative_first,7,62,4,07
12319,correct_congruent,50,0,CPz,eeg,7.788848,baseline,negative_first,7,62,4,07
12325,correct_congruent,50,0,Fz,eeg,3.760848,baseline,negative_first,7,62,4,07
12334,correct_congruent,50,0,FCz,eeg,4.693713,baseline,negative_first,7,62,4,07
12335,correct_congruent,50,0,Cz,eeg,4.384005,baseline,negative_first,7,62,4,07
...,...,...,...,...,...,...,...,...,...,...,...,...
8982046,correct_congruent,1245,94,Pz,eeg,1.500946,3,positive_first,8,67,10,02
8982047,correct_congruent,1245,94,CPz,eeg,2.434735,3,positive_first,8,67,10,02
8982053,correct_congruent,1245,94,Fz,eeg,0.518818,3,positive_first,8,67,10,02
8982062,correct_congruent,1245,94,FCz,eeg,2.333084,3,positive_first,8,67,10,02
8982063,correct_congruent,1245,94,Cz,eeg,2.394192,3,positive_first,8,67,10,02

/home/michael/data/derivatives/reaction_epochs/sub-037/sub-037-reaction_epochs-epo.fif
037
Reading /home/michael/data/derivatives/reaction_epochs/sub-037/sub-037-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1233 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_incongruent,50,0,Pz,eeg,11.659789,baseline,positive_first,8,65,10,37
12319,correct_incongruent,50,0,CPz,eeg,2.388118,baseline,positive_first,8,65,10,37
12325,correct_incongruent,50,0,Fz,eeg,-3.956865,baseline,positive_first,8,65,10,37
12334,correct_incongruent,50,0,FCz,eeg,8.865051,baseline,positive_first,8,65,10,37
12335,correct_incongruent,50,0,Cz,eeg,6.532760,baseline,positive_first,8,65,10,37
...,...,...,...,...,...,...,...,...,...,...,...,...
9524126,correct_incongruent,1245,94,Pz,eeg,5.934453,3,positive_first,8,65,10,37
9524127,correct_incongruent,1245,94,CPz,eeg,7.142442,3,positive_first,8,65,10,37
9524133,correct_incongruent,1245,94,Fz,eeg,-1.315444,3,positive_first,8,65,10,37
9524142,correct_incongruent,1245,94,FCz,eeg,1.666050,3,positive_first,8,65,10,37
9524143,correct_incongruent,1245,94,Cz,eeg,8.557936,3,positive_first,8,65,10,37

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_congruent,50,0,Pz,eeg,6.147827,baseline,negative_first,7,62,4,07
12319,correct_congruent,50,0,CPz,eeg,7.788848,baseline,negative_first,7,62,4,07
12325,correct_congruent,50,0,Fz,eeg,3.760848,baseline,negative_first,7,62,4,07
12334,correct_congruent,50,0,FCz,eeg,4.693713,baseline,negative_first,7,62,4,07
12335,correct_congruent,50,0,Cz,eeg,4.384005,baseline,negative_first,7,62,4,07
...,...,...,...,...,...,...,...,...,...,...,...,...
9524126,correct_incongruent,1245,94,Pz,eeg,5.934453,3,positive_first,8,65,10,37
9524127,correct_incongruent,1245,94,CPz,eeg,7.142442,3,positive_first,8,65,10,37
9524133,correct_incongruent,1245,94,Fz,eeg,-1.315444,3,positive_first,8,65,10,37
9524142,correct_incongruent,1245,94,FCz,eeg,1.666050,3,positive_first,8,65,10,37
9524143,correct_incongruent,1245,94,Cz,eeg,8.557936,3,positive_first,8,65,10,37

/home/michael/data/derivatives/reaction_epochs/sub-012/sub-012-reaction_epochs-epo.fif
012
Reading /home/michael/data/derivatives/reaction_epochs/sub-012/sub-012-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1135 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_incongruent,49,0,Pz,eeg,5.641324,baseline,negative_first,3,67,7,12
12319,correct_incongruent,49,0,CPz,eeg,2.638409,baseline,negative_first,3,67,7,12
12325,correct_incongruent,49,0,Fz,eeg,-2.682931,baseline,negative_first,3,67,7,12
12334,correct_incongruent,49,0,FCz,eeg,-0.736909,baseline,negative_first,3,67,7,12
12335,correct_incongruent,49,0,Cz,eeg,1.144654,baseline,negative_first,3,67,7,12
...,...,...,...,...,...,...,...,...,...,...,...,...
8784926,correct_congruent,840,94,Pz,eeg,1.338843,3,negative_first,3,67,7,12
8784927,correct_congruent,840,94,CPz,eeg,4.121961,3,negative_first,3,67,7,12
8784933,correct_congruent,840,94,Fz,eeg,-5.309783,3,negative_first,3,67,7,12
8784942,correct_congruent,840,94,FCz,eeg,0.191598,3,negative_first,3,67,7,12
8784943,correct_congruent,840,94,Cz,eeg,3.068648,3,negative_first,3,67,7,12

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_congruent,50,0,Pz,eeg,6.147827,baseline,negative_first,7,62,4,07
12319,correct_congruent,50,0,CPz,eeg,7.788848,baseline,negative_first,7,62,4,07
12325,correct_congruent,50,0,Fz,eeg,3.760848,baseline,negative_first,7,62,4,07
12334,correct_congruent,50,0,FCz,eeg,4.693713,baseline,negative_first,7,62,4,07
12335,correct_congruent,50,0,Cz,eeg,4.384005,baseline,negative_first,7,62,4,07
...,...,...,...,...,...,...,...,...,...,...,...,...
8784926,correct_congruent,840,94,Pz,eeg,1.338843,3,negative_first,3,67,7,12
8784927,correct_congruent,840,94,CPz,eeg,4.121961,3,negative_first,3,67,7,12
8784933,correct_congruent,840,94,Fz,eeg,-5.309783,3,negative_first,3,67,7,12
8784942,correct_congruent,840,94,FCz,eeg,0.191598,3,negative_first,3,67,7,12
8784943,correct_congruent,840,94,Cz,eeg,3.068648,3,negative_first,3,67,7,12

/home/michael/data/derivatives/reaction_epochs/sub-010/sub-010-reaction_epochs-epo.fif
010
Reading /home/michael/data/derivatives/reaction_epochs/sub-010/sub-010-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1051 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_incongruent,51,0,Pz,eeg,-0.448639,baseline,positive_first,7,64,13,10
12319,correct_incongruent,51,0,CPz,eeg,-6.260843,baseline,positive_first,7,64,13,10
12325,correct_incongruent,51,0,Fz,eeg,-6.522182,baseline,positive_first,7,64,13,10
12334,correct_incongruent,51,0,FCz,eeg,-10.127836,baseline,positive_first,7,64,13,10
12335,correct_incongruent,51,0,Cz,eeg,-5.636580,baseline,positive_first,7,64,13,10
...,...,...,...,...,...,...,...,...,...,...,...,...
8218206,correct_congruent,1244,94,Pz,eeg,4.060042,3,positive_first,7,64,13,10
8218207,correct_congruent,1244,94,CPz,eeg,8.483983,3,positive_first,7,64,13,10
8218213,correct_congruent,1244,94,Fz,eeg,-4.135288,3,positive_first,7,64,13,10
8218222,correct_congruent,1244,94,FCz,eeg,0.152779,3,positive_first,7,64,13,10
8218223,correct_congruent,1244,94,Cz,eeg,8.355160,3,positive_first,7,64,13,10

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_congruent,50,0,Pz,eeg,6.147827,baseline,negative_first,7,62,4,07
12319,correct_congruent,50,0,CPz,eeg,7.788848,baseline,negative_first,7,62,4,07
12325,correct_congruent,50,0,Fz,eeg,3.760848,baseline,negative_first,7,62,4,07
12334,correct_congruent,50,0,FCz,eeg,4.693713,baseline,negative_first,7,62,4,07
12335,correct_congruent,50,0,Cz,eeg,4.384005,baseline,negative_first,7,62,4,07
...,...,...,...,...,...,...,...,...,...,...,...,...
8218206,correct_congruent,1244,94,Pz,eeg,4.060042,3,positive_first,7,64,13,10
8218207,correct_congruent,1244,94,CPz,eeg,8.483983,3,positive_first,7,64,13,10
8218213,correct_congruent,1244,94,Fz,eeg,-4.135288,3,positive_first,7,64,13,10
8218222,correct_congruent,1244,94,FCz,eeg,0.152779,3,positive_first,7,64,13,10
8218223,correct_congruent,1244,94,Cz,eeg,8.355160,3,positive_first,7,64,13,10

/home/michael/data/derivatives/reaction_epochs/sub-006/sub-006-reaction_epochs-epo.fif
006
Reading /home/michael/data/derivatives/reaction_epochs/sub-006/sub-006-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1190 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_incongruent,51,0,Pz,eeg,15.006364,baseline,positive_first,8,68,11,06
12319,correct_incongruent,51,0,CPz,eeg,24.880749,baseline,positive_first,8,68,11,06
12325,correct_incongruent,51,0,Fz,eeg,-7.670660,baseline,positive_first,8,68,11,06
12334,correct_incongruent,51,0,FCz,eeg,5.275532,baseline,positive_first,8,68,11,06
12335,correct_incongruent,51,0,Cz,eeg,16.161434,baseline,positive_first,8,68,11,06
...,...,...,...,...,...,...,...,...,...,...,...,...
8415326,correct_congruent,1244,94,Pz,eeg,2.061229,3,positive_first,8,68,11,06
8415327,correct_congruent,1244,94,CPz,eeg,2.665493,3,positive_first,8,68,11,06
8415333,correct_congruent,1244,94,Fz,eeg,-4.721882,3,positive_first,8,68,11,06
8415342,correct_congruent,1244,94,FCz,eeg,-1.811581,3,positive_first,8,68,11,06
8415343,correct_congruent,1244,94,Cz,eeg,-0.415254,3,positive_first,8,68,11,06

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_congruent,50,0,Pz,eeg,6.147827,baseline,negative_first,7,62,4,07
12319,correct_congruent,50,0,CPz,eeg,7.788848,baseline,negative_first,7,62,4,07
12325,correct_congruent,50,0,Fz,eeg,3.760848,baseline,negative_first,7,62,4,07
12334,correct_congruent,50,0,FCz,eeg,4.693713,baseline,negative_first,7,62,4,07
12335,correct_congruent,50,0,Cz,eeg,4.384005,baseline,negative_first,7,62,4,07
...,...,...,...,...,...,...,...,...,...,...,...,...
8415326,correct_congruent,1244,94,Pz,eeg,2.061229,3,positive_first,8,68,11,06
8415327,correct_congruent,1244,94,CPz,eeg,2.665493,3,positive_first,8,68,11,06
8415333,correct_congruent,1244,94,Fz,eeg,-4.721882,3,positive_first,8,68,11,06
8415342,correct_congruent,1244,94,FCz,eeg,-1.811581,3,positive_first,8,68,11,06
8415343,correct_congruent,1244,94,Cz,eeg,-0.415254,3,positive_first,8,68,11,06

/home/michael/data/derivatives/reaction_epochs/sub-020/sub-020-reaction_epochs-epo.fif
020
Reading /home/michael/data/derivatives/reaction_epochs/sub-020/sub-020-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1230 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_congruent,51,0,Pz,eeg,5.703841,baseline,negative_first,7,66,3,20
12319,correct_congruent,51,0,CPz,eeg,10.607028,baseline,negative_first,7,66,3,20
12325,correct_congruent,51,0,Fz,eeg,2.276842,baseline,negative_first,7,66,3,20
12334,correct_congruent,51,0,FCz,eeg,4.541354,baseline,negative_first,7,66,3,20
12335,correct_congruent,51,0,Cz,eeg,10.870552,baseline,negative_first,7,66,3,20
...,...,...,...,...,...,...,...,...,...,...,...,...
7183326,correct_incongruent,844,94,Pz,eeg,5.760180,3,negative_first,7,66,3,20
7183327,correct_incongruent,844,94,CPz,eeg,11.957990,3,negative_first,7,66,3,20
7183333,correct_incongruent,844,94,Fz,eeg,1.281620,3,negative_first,7,66,3,20
7183342,correct_incongruent,844,94,FCz,eeg,10.880931,3,negative_first,7,66,3,20
7183343,correct_incongruent,844,94,Cz,eeg,14.834665,3,negative_first,7,66,3,20

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_congruent,50,0,Pz,eeg,6.147827,baseline,negative_first,7,62,4,07
12319,correct_congruent,50,0,CPz,eeg,7.788848,baseline,negative_first,7,62,4,07
12325,correct_congruent,50,0,Fz,eeg,3.760848,baseline,negative_first,7,62,4,07
12334,correct_congruent,50,0,FCz,eeg,4.693713,baseline,negative_first,7,62,4,07
12335,correct_congruent,50,0,Cz,eeg,4.384005,baseline,negative_first,7,62,4,07
...,...,...,...,...,...,...,...,...,...,...,...,...
7183326,correct_incongruent,844,94,Pz,eeg,5.760180,3,negative_first,7,66,3,20
7183327,correct_incongruent,844,94,CPz,eeg,11.957990,3,negative_first,7,66,3,20
7183333,correct_incongruent,844,94,Fz,eeg,1.281620,3,negative_first,7,66,3,20
7183342,correct_incongruent,844,94,FCz,eeg,10.880931,3,negative_first,7,66,3,20
7183343,correct_incongruent,844,94,Cz,eeg,14.834665,3,negative_first,7,66,3,20

/home/michael/data/derivatives/reaction_epochs/sub-032/sub-032-reaction_epochs-epo.fif
032
Reading /home/michael/data/derivatives/reaction_epochs/sub-032/sub-032-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
909 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_incongruent,47,0,Pz,eeg,1.255007,baseline,negative_first,0,64,4,32
12319,correct_incongruent,47,0,CPz,eeg,0.274822,baseline,negative_first,0,64,4,32
12325,correct_incongruent,47,0,Fz,eeg,12.048186,baseline,negative_first,0,64,4,32
12334,correct_incongruent,47,0,FCz,eeg,4.662992,baseline,negative_first,0,64,4,32
12335,correct_incongruent,47,0,Cz,eeg,-2.648652,baseline,negative_first,0,64,4,32
...,...,...,...,...,...,...,...,...,...,...,...,...
9302366,correct_incongruent,845,94,Pz,eeg,-10.914851,3,negative_first,0,64,4,32
9302367,correct_incongruent,845,94,CPz,eeg,-11.397890,3,negative_first,0,64,4,32
9302373,correct_incongruent,845,94,Fz,eeg,-4.394962,3,negative_first,0,64,4,32
9302382,correct_incongruent,845,94,FCz,eeg,-1.578556,3,negative_first,0,64,4,32
9302383,correct_incongruent,845,94,Cz,eeg,-7.124757,3,negative_first,0,64,4,32

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_congruent,50,0,Pz,eeg,6.147827,baseline,negative_first,7,62,4,07
12319,correct_congruent,50,0,CPz,eeg,7.788848,baseline,negative_first,7,62,4,07
12325,correct_congruent,50,0,Fz,eeg,3.760848,baseline,negative_first,7,62,4,07
12334,correct_congruent,50,0,FCz,eeg,4.693713,baseline,negative_first,7,62,4,07
12335,correct_congruent,50,0,Cz,eeg,4.384005,baseline,negative_first,7,62,4,07
...,...,...,...,...,...,...,...,...,...,...,...,...
9302366,correct_incongruent,845,94,Pz,eeg,-10.914851,3,negative_first,0,64,4,32
9302367,correct_incongruent,845,94,CPz,eeg,-11.397890,3,negative_first,0,64,4,32
9302373,correct_incongruent,845,94,Fz,eeg,-4.394962,3,negative_first,0,64,4,32
9302382,correct_incongruent,845,94,FCz,eeg,-1.578556,3,negative_first,0,64,4,32
9302383,correct_incongruent,845,94,Cz,eeg,-7.124757,3,negative_first,0,64,4,32

/home/michael/data/derivatives/reaction_epochs/sub-024/sub-024-reaction_epochs-epo.fif
024
Reading /home/michael/data/derivatives/reaction_epochs/sub-024/sub-024-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1229 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_congruent,51,0,Pz,eeg,11.069882,baseline,negative_first,6,70,11,24
12319,correct_congruent,51,0,CPz,eeg,8.983873,baseline,negative_first,6,70,11,24
12325,correct_congruent,51,0,Fz,eeg,-13.807586,baseline,negative_first,6,70,11,24
12334,correct_congruent,51,0,FCz,eeg,-11.575315,baseline,negative_first,6,70,11,24
12335,correct_congruent,51,0,Cz,eeg,0.435383,baseline,negative_first,6,70,11,24
...,...,...,...,...,...,...,...,...,...,...,...,...
9154526,correct_congruent,844,94,Pz,eeg,3.061769,3,negative_first,6,70,11,24
9154527,correct_congruent,844,94,CPz,eeg,2.056640,3,negative_first,6,70,11,24
9154533,correct_congruent,844,94,Fz,eeg,-6.310467,3,negative_first,6,70,11,24
9154542,correct_congruent,844,94,FCz,eeg,-9.370171,3,negative_first,6,70,11,24
9154543,correct_congruent,844,94,Cz,eeg,-5.371594,3,negative_first,6,70,11,24

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_congruent,50,0,Pz,eeg,6.147827,baseline,negative_first,7,62,4,07
12319,correct_congruent,50,0,CPz,eeg,7.788848,baseline,negative_first,7,62,4,07
12325,correct_congruent,50,0,Fz,eeg,3.760848,baseline,negative_first,7,62,4,07
12334,correct_congruent,50,0,FCz,eeg,4.693713,baseline,negative_first,7,62,4,07
12335,correct_congruent,50,0,Cz,eeg,4.384005,baseline,negative_first,7,62,4,07
...,...,...,...,...,...,...,...,...,...,...,...,...
9154526,correct_congruent,844,94,Pz,eeg,3.061769,3,negative_first,6,70,11,24
9154527,correct_congruent,844,94,CPz,eeg,2.056640,3,negative_first,6,70,11,24
9154533,correct_congruent,844,94,Fz,eeg,-6.310467,3,negative_first,6,70,11,24
9154542,correct_congruent,844,94,FCz,eeg,-9.370171,3,negative_first,6,70,11,24
9154543,correct_congruent,844,94,Cz,eeg,-5.371594,3,negative_first,6,70,11,24

/home/michael/data/derivatives/reaction_epochs/sub-017/sub-017-reaction_epochs-epo.fif
017
Reading /home/michael/data/derivatives/reaction_epochs/sub-017/sub-017-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1210 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_congruent,49,0,Pz,eeg,2.677936,baseline,positive_first,9,65,10,17
12319,correct_congruent,49,0,CPz,eeg,6.598424,baseline,positive_first,9,65,10,17
12325,correct_congruent,49,0,Fz,eeg,0.996086,baseline,positive_first,9,65,10,17
12334,correct_congruent,49,0,FCz,eeg,0.588690,baseline,positive_first,9,65,10,17
12335,correct_congruent,49,0,Cz,eeg,2.655395,baseline,positive_first,9,65,10,17
...,...,...,...,...,...,...,...,...,...,...,...,...
9351646,correct_congruent,1247,94,Pz,eeg,-5.140238,3,positive_first,9,65,10,17
9351647,correct_congruent,1247,94,CPz,eeg,-0.830887,3,positive_first,9,65,10,17
9351653,correct_congruent,1247,94,Fz,eeg,9.867730,3,positive_first,9,65,10,17
9351662,correct_congruent,1247,94,FCz,eeg,3.932893,3,positive_first,9,65,10,17
9351663,correct_congruent,1247,94,Cz,eeg,2.599373,3,positive_first,9,65,10,17

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_congruent,50,0,Pz,eeg,6.147827,baseline,negative_first,7,62,4,07
12319,correct_congruent,50,0,CPz,eeg,7.788848,baseline,negative_first,7,62,4,07
12325,correct_congruent,50,0,Fz,eeg,3.760848,baseline,negative_first,7,62,4,07
12334,correct_congruent,50,0,FCz,eeg,4.693713,baseline,negative_first,7,62,4,07
12335,correct_congruent,50,0,Cz,eeg,4.384005,baseline,negative_first,7,62,4,07
...,...,...,...,...,...,...,...,...,...,...,...,...
9351646,correct_congruent,1247,94,Pz,eeg,-5.140238,3,positive_first,9,65,10,17
9351647,correct_congruent,1247,94,CPz,eeg,-0.830887,3,positive_first,9,65,10,17
9351653,correct_congruent,1247,94,Fz,eeg,9.867730,3,positive_first,9,65,10,17
9351662,correct_congruent,1247,94,FCz,eeg,3.932893,3,positive_first,9,65,10,17
9351663,correct_congruent,1247,94,Cz,eeg,2.599373,3,positive_first,9,65,10,17

/home/michael/data/derivatives/reaction_epochs/sub-027/sub-027-reaction_epochs-epo.fif
027
Reading /home/michael/data/derivatives/reaction_epochs/sub-027/sub-027-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1114 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_congruent,50,0,Pz,eeg,19.849672,baseline,positive_first,16,70,15,27
12319,correct_congruent,50,0,CPz,eeg,12.783646,baseline,positive_first,16,70,15,27
12325,correct_congruent,50,0,Fz,eeg,-12.823389,baseline,positive_first,16,70,15,27
12334,correct_congruent,50,0,FCz,eeg,-13.612751,baseline,positive_first,16,70,15,27
12335,correct_congruent,50,0,Cz,eeg,-2.780735,baseline,positive_first,16,70,15,27
...,...,...,...,...,...,...,...,...,...,...,...,...
8587806,correct_incongruent,1247,94,Pz,eeg,4.057922,3,positive_first,16,70,15,27
8587807,correct_incongruent,1247,94,CPz,eeg,7.337205,3,positive_first,16,70,15,27
8587813,correct_incongruent,1247,94,Fz,eeg,3.107539,3,positive_first,16,70,15,27
8587822,correct_incongruent,1247,94,FCz,eeg,9.535334,3,positive_first,16,70,15,27
8587823,correct_incongruent,1247,94,Cz,eeg,9.462910,3,positive_first,16,70,15,27

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_congruent,50,0,Pz,eeg,6.147827,baseline,negative_first,7,62,4,07
12319,correct_congruent,50,0,CPz,eeg,7.788848,baseline,negative_first,7,62,4,07
12325,correct_congruent,50,0,Fz,eeg,3.760848,baseline,negative_first,7,62,4,07
12334,correct_congruent,50,0,FCz,eeg,4.693713,baseline,negative_first,7,62,4,07
12335,correct_congruent,50,0,Cz,eeg,4.384005,baseline,negative_first,7,62,4,07
...,...,...,...,...,...,...,...,...,...,...,...,...
8587806,correct_incongruent,1247,94,Pz,eeg,4.057922,3,positive_first,16,70,15,27
8587807,correct_incongruent,1247,94,CPz,eeg,7.337205,3,positive_first,16,70,15,27
8587813,correct_incongruent,1247,94,Fz,eeg,3.107539,3,positive_first,16,70,15,27
8587822,correct_incongruent,1247,94,FCz,eeg,9.535334,3,positive_first,16,70,15,27
8587823,correct_incongruent,1247,94,Cz,eeg,9.462910,3,positive_first,16,70,15,27

/home/michael/data/derivatives/reaction_epochs/sub-035/sub-035-reaction_epochs-epo.fif
035
Reading /home/michael/data/derivatives/reaction_epochs/sub-035/sub-035-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1232 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_incongruent,49,0,Pz,eeg,9.910640,baseline,negative_first,7,73,13,35
12319,correct_incongruent,49,0,CPz,eeg,11.419911,baseline,negative_first,7,73,13,35
12325,correct_incongruent,49,0,Fz,eeg,-2.174855,baseline,negative_first,7,73,13,35
12334,correct_incongruent,49,0,FCz,eeg,5.806634,baseline,negative_first,7,73,13,35
12335,correct_incongruent,49,0,Cz,eeg,12.850733,baseline,negative_first,7,73,13,35
...,...,...,...,...,...,...,...,...,...,...,...,...
7873246,correct_congruent,843,94,Pz,eeg,-2.258116,3,negative_first,7,73,13,35
7873247,correct_congruent,843,94,CPz,eeg,1.755425,3,negative_first,7,73,13,35
7873253,correct_congruent,843,94,Fz,eeg,5.505099,3,negative_first,7,73,13,35
7873262,correct_congruent,843,94,FCz,eeg,1.399637,3,negative_first,7,73,13,35
7873263,correct_congruent,843,94,Cz,eeg,3.994343,3,negative_first,7,73,13,35

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_congruent,50,0,Pz,eeg,6.147827,baseline,negative_first,7,62,4,07
12319,correct_congruent,50,0,CPz,eeg,7.788848,baseline,negative_first,7,62,4,07
12325,correct_congruent,50,0,Fz,eeg,3.760848,baseline,negative_first,7,62,4,07
12334,correct_congruent,50,0,FCz,eeg,4.693713,baseline,negative_first,7,62,4,07
12335,correct_congruent,50,0,Cz,eeg,4.384005,baseline,negative_first,7,62,4,07
...,...,...,...,...,...,...,...,...,...,...,...,...
7873246,correct_congruent,843,94,Pz,eeg,-2.258116,3,negative_first,7,73,13,35
7873247,correct_congruent,843,94,CPz,eeg,1.755425,3,negative_first,7,73,13,35
7873253,correct_congruent,843,94,Fz,eeg,5.505099,3,negative_first,7,73,13,35
7873262,correct_congruent,843,94,FCz,eeg,1.399637,3,negative_first,7,73,13,35
7873263,correct_congruent,843,94,Cz,eeg,3.994343,3,negative_first,7,73,13,35

/home/michael/data/derivatives/reaction_epochs/sub-033/sub-033-reaction_epochs-epo.fif
033
Reading /home/michael/data/derivatives/reaction_epochs/sub-033/sub-033-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1110 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_congruent,49,0,Pz,eeg,4.835399,baseline,positive_first,11,76,41,33
12319,correct_congruent,49,0,CPz,eeg,-0.375310,baseline,positive_first,11,76,41,33
12325,correct_congruent,49,0,Fz,eeg,11.135869,baseline,positive_first,11,76,41,33
12334,correct_congruent,49,0,FCz,eeg,13.223048,baseline,positive_first,11,76,41,33
12335,correct_congruent,49,0,Cz,eeg,4.560143,baseline,positive_first,11,76,41,33
...,...,...,...,...,...,...,...,...,...,...,...,...
7084766,correct_congruent,1238,94,Pz,eeg,0.920524,3,positive_first,11,76,41,33
7084767,correct_congruent,1238,94,CPz,eeg,0.911071,3,positive_first,11,76,41,33
7084773,correct_congruent,1238,94,Fz,eeg,1.939391,3,positive_first,11,76,41,33
7084782,correct_congruent,1238,94,FCz,eeg,2.459687,3,positive_first,11,76,41,33
7084783,correct_congruent,1238,94,Cz,eeg,2.564539,3,positive_first,11,76,41,33

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_congruent,50,0,Pz,eeg,6.147827,baseline,negative_first,7,62,4,07
12319,correct_congruent,50,0,CPz,eeg,7.788848,baseline,negative_first,7,62,4,07
12325,correct_congruent,50,0,Fz,eeg,3.760848,baseline,negative_first,7,62,4,07
12334,correct_congruent,50,0,FCz,eeg,4.693713,baseline,negative_first,7,62,4,07
12335,correct_congruent,50,0,Cz,eeg,4.384005,baseline,negative_first,7,62,4,07
...,...,...,...,...,...,...,...,...,...,...,...,...
7084766,correct_congruent,1238,94,Pz,eeg,0.920524,3,positive_first,11,76,41,33
7084767,correct_congruent,1238,94,CPz,eeg,0.911071,3,positive_first,11,76,41,33
7084773,correct_congruent,1238,94,Fz,eeg,1.939391,3,positive_first,11,76,41,33
7084782,correct_congruent,1238,94,FCz,eeg,2.459687,3,positive_first,11,76,41,33
7084783,correct_congruent,1238,94,Cz,eeg,2.564539,3,positive_first,11,76,41,33

/home/michael/data/derivatives/reaction_epochs/sub-019/sub-019-reaction_epochs-epo.fif
019
Reading /home/michael/data/derivatives/reaction_epochs/sub-019/sub-019-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1207 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_incongruent,50,0,Pz,eeg,4.244754,baseline,positive_first,4,66,3,19
12319,correct_incongruent,50,0,CPz,eeg,15.376002,baseline,positive_first,4,66,3,19
12325,correct_incongruent,50,0,Fz,eeg,1.407766,baseline,positive_first,4,66,3,19
12334,correct_incongruent,50,0,FCz,eeg,19.133528,baseline,positive_first,4,66,3,19
12335,correct_incongruent,50,0,Cz,eeg,14.501021,baseline,positive_first,4,66,3,19
...,...,...,...,...,...,...,...,...,...,...,...,...
8932766,correct_incongruent,1246,94,Pz,eeg,-10.227718,3,positive_first,4,66,3,19
8932767,correct_incongruent,1246,94,CPz,eeg,-11.545369,3,positive_first,4,66,3,19
8932773,correct_incongruent,1246,94,Fz,eeg,-0.559501,3,positive_first,4,66,3,19
8932782,correct_incongruent,1246,94,FCz,eeg,1.027206,3,positive_first,4,66,3,19
8932783,correct_incongruent,1246,94,Cz,eeg,-6.016928,3,positive_first,4,66,3,19

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_congruent,50,0,Pz,eeg,6.147827,baseline,negative_first,7,62,4,07
12319,correct_congruent,50,0,CPz,eeg,7.788848,baseline,negative_first,7,62,4,07
12325,correct_congruent,50,0,Fz,eeg,3.760848,baseline,negative_first,7,62,4,07
12334,correct_congruent,50,0,FCz,eeg,4.693713,baseline,negative_first,7,62,4,07
12335,correct_congruent,50,0,Cz,eeg,4.384005,baseline,negative_first,7,62,4,07
...,...,...,...,...,...,...,...,...,...,...,...,...
8932766,correct_incongruent,1246,94,Pz,eeg,-10.227718,3,positive_first,4,66,3,19
8932767,correct_incongruent,1246,94,CPz,eeg,-11.545369,3,positive_first,4,66,3,19
8932773,correct_incongruent,1246,94,Fz,eeg,-0.559501,3,positive_first,4,66,3,19
8932782,correct_incongruent,1246,94,FCz,eeg,1.027206,3,positive_first,4,66,3,19
8932783,correct_incongruent,1246,94,Cz,eeg,-6.016928,3,positive_first,4,66,3,19

/home/michael/data/derivatives/reaction_epochs/sub-014/sub-014-reaction_epochs-epo.fif
014
Reading /home/michael/data/derivatives/reaction_epochs/sub-014/sub-014-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1122 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_incongruent,51,0,Pz,eeg,-6.796887,baseline,negative_first,8,66,8,14
12319,correct_incongruent,51,0,CPz,eeg,5.521757,baseline,negative_first,8,66,8,14
12325,correct_incongruent,51,0,Fz,eeg,-7.519371,baseline,negative_first,8,66,8,14
12334,correct_incongruent,51,0,FCz,eeg,4.200385,baseline,negative_first,8,66,8,14
12335,correct_incongruent,51,0,Cz,eeg,2.938973,baseline,negative_first,8,66,8,14
...,...,...,...,...,...,...,...,...,...,...,...,...
9055966,correct_incongruent,842,94,Pz,eeg,8.340804,3,negative_first,8,66,8,14
9055967,correct_incongruent,842,94,CPz,eeg,3.235423,3,negative_first,8,66,8,14
9055973,correct_incongruent,842,94,Fz,eeg,4.608731,3,negative_first,8,66,8,14
9055982,correct_incongruent,842,94,FCz,eeg,6.868337,3,negative_first,8,66,8,14
9055983,correct_incongruent,842,94,Cz,eeg,5.897341,3,negative_first,8,66,8,14

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_congruent,50,0,Pz,eeg,6.147827,baseline,negative_first,7,62,4,07
12319,correct_congruent,50,0,CPz,eeg,7.788848,baseline,negative_first,7,62,4,07
12325,correct_congruent,50,0,Fz,eeg,3.760848,baseline,negative_first,7,62,4,07
12334,correct_congruent,50,0,FCz,eeg,4.693713,baseline,negative_first,7,62,4,07
12335,correct_congruent,50,0,Cz,eeg,4.384005,baseline,negative_first,7,62,4,07
...,...,...,...,...,...,...,...,...,...,...,...,...
9055966,correct_incongruent,842,94,Pz,eeg,8.340804,3,negative_first,8,66,8,14
9055967,correct_incongruent,842,94,CPz,eeg,3.235423,3,negative_first,8,66,8,14
9055973,correct_incongruent,842,94,Fz,eeg,4.608731,3,negative_first,8,66,8,14
9055982,correct_incongruent,842,94,FCz,eeg,6.868337,3,negative_first,8,66,8,14
9055983,correct_incongruent,842,94,Cz,eeg,5.897341,3,negative_first,8,66,8,14

/home/michael/data/derivatives/reaction_epochs/sub-038/sub-038-reaction_epochs-epo.fif
038
Reading /home/michael/data/derivatives/reaction_epochs/sub-038/sub-038-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
992 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_incongruent,48,0,Pz,eeg,14.068954,baseline,positive_first,2,64,23,38
12319,correct_incongruent,48,0,CPz,eeg,12.098056,baseline,positive_first,2,64,23,38
12325,correct_incongruent,48,0,Fz,eeg,-0.760027,baseline,positive_first,2,64,23,38
12334,correct_incongruent,48,0,FCz,eeg,2.248936,baseline,positive_first,2,64,23,38
12335,correct_incongruent,48,0,Cz,eeg,10.507508,baseline,positive_first,2,64,23,38
...,...,...,...,...,...,...,...,...,...,...,...,...
6296286,correct_incongruent,1196,94,Pz,eeg,-0.996012,3,positive_first,2,64,23,38
6296287,correct_incongruent,1196,94,CPz,eeg,1.346098,3,positive_first,2,64,23,38
6296293,correct_incongruent,1196,94,Fz,eeg,0.633860,3,positive_first,2,64,23,38
6296302,correct_incongruent,1196,94,FCz,eeg,0.774729,3,positive_first,2,64,23,38
6296303,correct_incongruent,1196,94,Cz,eeg,3.389636,3,positive_first,2,64,23,38

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_congruent,50,0,Pz,eeg,6.147827,baseline,negative_first,7,62,4,07
12319,correct_congruent,50,0,CPz,eeg,7.788848,baseline,negative_first,7,62,4,07
12325,correct_congruent,50,0,Fz,eeg,3.760848,baseline,negative_first,7,62,4,07
12334,correct_congruent,50,0,FCz,eeg,4.693713,baseline,negative_first,7,62,4,07
12335,correct_congruent,50,0,Cz,eeg,4.384005,baseline,negative_first,7,62,4,07
...,...,...,...,...,...,...,...,...,...,...,...,...
6296286,correct_incongruent,1196,94,Pz,eeg,-0.996012,3,positive_first,2,64,23,38
6296287,correct_incongruent,1196,94,CPz,eeg,1.346098,3,positive_first,2,64,23,38
6296293,correct_incongruent,1196,94,Fz,eeg,0.633860,3,positive_first,2,64,23,38
6296302,correct_incongruent,1196,94,FCz,eeg,0.774729,3,positive_first,2,64,23,38
6296303,correct_incongruent,1196,94,Cz,eeg,3.389636,3,positive_first,2,64,23,38

/home/michael/data/derivatives/reaction_epochs/sub-016/sub-016-reaction_epochs-epo.fif
016
Reading /home/michael/data/derivatives/reaction_epochs/sub-016/sub-016-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1217 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_congruent,51,0,Pz,eeg,10.803016,baseline,negative_first,2,62,4,16
12319,correct_congruent,51,0,CPz,eeg,9.644639,baseline,negative_first,2,62,4,16
12325,correct_congruent,51,0,Fz,eeg,-4.720793,baseline,negative_first,2,62,4,16
12334,correct_congruent,51,0,FCz,eeg,3.979483,baseline,negative_first,2,62,4,16
12335,correct_congruent,51,0,Cz,eeg,8.819955,baseline,negative_first,2,62,4,16
...,...,...,...,...,...,...,...,...,...,...,...,...
9055966,correct_incongruent,844,94,Pz,eeg,3.573209,3,negative_first,2,62,4,16
9055967,correct_incongruent,844,94,CPz,eeg,0.547308,3,negative_first,2,62,4,16
9055973,correct_incongruent,844,94,Fz,eeg,2.618632,3,negative_first,2,62,4,16
9055982,correct_incongruent,844,94,FCz,eeg,8.546366,3,negative_first,2,62,4,16
9055983,correct_incongruent,844,94,Cz,eeg,8.462831,3,negative_first,2,62,4,16

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_congruent,50,0,Pz,eeg,6.147827,baseline,negative_first,7,62,4,07
12319,correct_congruent,50,0,CPz,eeg,7.788848,baseline,negative_first,7,62,4,07
12325,correct_congruent,50,0,Fz,eeg,3.760848,baseline,negative_first,7,62,4,07
12334,correct_congruent,50,0,FCz,eeg,4.693713,baseline,negative_first,7,62,4,07
12335,correct_congruent,50,0,Cz,eeg,4.384005,baseline,negative_first,7,62,4,07
...,...,...,...,...,...,...,...,...,...,...,...,...
9055966,correct_incongruent,844,94,Pz,eeg,3.573209,3,negative_first,2,62,4,16
9055967,correct_incongruent,844,94,CPz,eeg,0.547308,3,negative_first,2,62,4,16
9055973,correct_incongruent,844,94,Fz,eeg,2.618632,3,negative_first,2,62,4,16
9055982,correct_incongruent,844,94,FCz,eeg,8.546366,3,negative_first,2,62,4,16
9055983,correct_incongruent,844,94,Cz,eeg,8.462831,3,negative_first,2,62,4,16

/home/michael/data/derivatives/reaction_epochs/sub-028/sub-028-reaction_epochs-epo.fif
028
Reading /home/michael/data/derivatives/reaction_epochs/sub-028/sub-028-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1214 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_incongruent,50,0,Pz,eeg,-2.235261,baseline,negative_first,5,72,22,28
12319,correct_incongruent,50,0,CPz,eeg,-0.220324,baseline,negative_first,5,72,22,28
12325,correct_incongruent,50,0,Fz,eeg,-3.143450,baseline,negative_first,5,72,22,28
12334,correct_incongruent,50,0,FCz,eeg,8.055111,baseline,negative_first,5,72,22,28
12335,correct_incongruent,50,0,Cz,eeg,11.968459,baseline,negative_first,5,72,22,28
...,...,...,...,...,...,...,...,...,...,...,...,...
9425566,correct_incongruent,845,94,Pz,eeg,5.263699,3,negative_first,5,72,22,28
9425567,correct_incongruent,845,94,CPz,eeg,6.102737,3,negative_first,5,72,22,28
9425573,correct_incongruent,845,94,Fz,eeg,2.403199,3,negative_first,5,72,22,28
9425582,correct_incongruent,845,94,FCz,eeg,4.010714,3,negative_first,5,72,22,28
9425583,correct_incongruent,845,94,Cz,eeg,5.877847,3,negative_first,5,72,22,28

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_congruent,50,0,Pz,eeg,6.147827,baseline,negative_first,7,62,4,07
12319,correct_congruent,50,0,CPz,eeg,7.788848,baseline,negative_first,7,62,4,07
12325,correct_congruent,50,0,Fz,eeg,3.760848,baseline,negative_first,7,62,4,07
12334,correct_congruent,50,0,FCz,eeg,4.693713,baseline,negative_first,7,62,4,07
12335,correct_congruent,50,0,Cz,eeg,4.384005,baseline,negative_first,7,62,4,07
...,...,...,...,...,...,...,...,...,...,...,...,...
9425566,correct_incongruent,845,94,Pz,eeg,5.263699,3,negative_first,5,72,22,28
9425567,correct_incongruent,845,94,CPz,eeg,6.102737,3,negative_first,5,72,22,28
9425573,correct_incongruent,845,94,Fz,eeg,2.403199,3,negative_first,5,72,22,28
9425582,correct_incongruent,845,94,FCz,eeg,4.010714,3,negative_first,5,72,22,28
9425583,correct_incongruent,845,94,Cz,eeg,5.877847,3,negative_first,5,72,22,28

/home/michael/data/derivatives/reaction_epochs/sub-013/sub-013-reaction_epochs-epo.fif
013
Reading /home/michael/data/derivatives/reaction_epochs/sub-013/sub-013-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1223 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_incongruent,49,0,Pz,eeg,0.745618,baseline,positive_first,1,64,9,13
12319,correct_incongruent,49,0,CPz,eeg,5.219995,baseline,positive_first,1,64,9,13
12325,correct_incongruent,49,0,Fz,eeg,13.169006,baseline,positive_first,1,64,9,13
12334,correct_incongruent,49,0,FCz,eeg,19.612789,baseline,positive_first,1,64,9,13
12335,correct_incongruent,49,0,Cz,eeg,9.886598,baseline,positive_first,1,64,9,13
...,...,...,...,...,...,...,...,...,...,...,...,...
9253086,correct_congruent,1245,94,Pz,eeg,20.169521,3,positive_first,1,64,9,13
9253087,correct_congruent,1245,94,CPz,eeg,12.899058,3,positive_first,1,64,9,13
9253093,correct_congruent,1245,94,Fz,eeg,-32.446943,3,positive_first,1,64,9,13
9253102,correct_congruent,1245,94,FCz,eeg,-31.186029,3,positive_first,1,64,9,13
9253103,correct_congruent,1245,94,Cz,eeg,-10.562998,3,positive_first,1,64,9,13

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,correct_congruent,50,0,Pz,eeg,6.147827,baseline,negative_first,7,62,4,07
12319,correct_congruent,50,0,CPz,eeg,7.788848,baseline,negative_first,7,62,4,07
12325,correct_congruent,50,0,Fz,eeg,3.760848,baseline,negative_first,7,62,4,07
12334,correct_congruent,50,0,FCz,eeg,4.693713,baseline,negative_first,7,62,4,07
12335,correct_congruent,50,0,Cz,eeg,4.384005,baseline,negative_first,7,62,4,07
...,...,...,...,...,...,...,...,...,...,...,...,...
9253086,correct_congruent,1245,94,Pz,eeg,20.169521,3,positive_first,1,64,9,13
9253087,correct_congruent,1245,94,CPz,eeg,12.899058,3,positive_first,1,64,9,13
9253093,correct_congruent,1245,94,Fz,eeg,-32.446943,3,positive_first,1,64,9,13
9253102,correct_congruent,1245,94,FCz,eeg,-31.186029,3,positive_first,1,64,9,13
9253103,correct_congruent,1245,94,Cz,eeg,-10.562998,3,positive_first,1,64,9,13

In [7]:
counter = 0
for subdir, dirs, files in os.walk(rootdir):
    for file in files:
        filepath = subdir + os.sep + file
        if filepath.endswith(".fif"):
            print (filepath)
            print((filepath.split('/')[-2].split('-')[-1]))
            subject = (filepath.split('/')[-2].split('-')[-1])[-2:]
             # get epochs
            cue_epochs = mne.read_epochs(filepath, preload=True)

            incorrect_epochs = cue_epochs['incorrect_incongruent', 'incorrect_congruent']

            incorrect_epochs.apply_baseline((-0.300, -0.050))
            incorrect_epochs_test = incorrect_epochs['condition == 0']
            incorrect_epochs_baseline = incorrect_epochs['condition == 1']
            incorrect_epochs_2 = incorrect_epochs['condition == 2']
            incorrect_epochs_3 = incorrect_epochs['condition == 3']
            
            # epochs to pandas dataframe
            df_incorrect_baseline = incorrect_epochs_baseline.to_data_frame(long_format=True)
            df_incorrect_baseline['exp_condition'] = 'baseline'
            df_incorrect_2 = incorrect_epochs_2.to_data_frame(long_format=True)
            df_incorrect_2['exp_condition'] = '2'
            df_incorrect_3 = incorrect_epochs_3.to_data_frame(long_format=True)
            df_incorrect_3['exp_condition'] = '3'
            df_incorrect = df_incorrect_baseline.append(df_incorrect_2)
            df_incorrect = df_incorrect.append(df_incorrect_3)
            #display(incorrect_epochs_baseline.metadata)
            if incorrect_epochs_baseline.metadata['negative_first'].iloc[0] == True:
                group = 'negative_first'
            elif incorrect_epochs_baseline.metadata['negative_first'].iloc[0] == False:
                group = 'positive_first'
            df_incorrect['group'] = group
            df_incorrect['bdi_sum_score'] = bdi.loc[bdi['subject'] == subject[-2:]]['bdi_sum_score'].values[0]
            df_incorrect['des_sum_score'] = des.loc[des['subject'] == subject[-2:]]['des_sum_score'].values[0]
            df_incorrect['sps_sum_score'] = sps.loc[des['subject'] == subject[-2:]]['sp_sum_score'].values[0]


            #display(df_correct)
            
            if counter == 0:
                ERN = df_incorrect[((df_incorrect["time"] >= 0) & (df_incorrect["time"] <= 100))
                           & ((df_incorrect["channel"] == 'Fz') |
                              (df_incorrect["channel"] == 'FCz') |
                              (df_incorrect["channel"] == 'Cz') | 
                              (df_incorrect["channel"] == 'CPz') |
                              (df_incorrect["channel"] == 'Pz'))]
                ERN = ERN.assign(subject=subject)
                ERN.to_csv('/home/michael/data/derivatives/results/erp/ern_sub-' + subject + '.tsv', sep='\t', index=False)

                
            else:
                ERN_temp = df_incorrect[((df_incorrect["time"] >= 0) & (df_incorrect["time"] <= 100))
                           & ((df_incorrect["channel"] == 'Fz') |
                              (df_incorrect["channel"] == 'FCz') |
                              (df_incorrect["channel"] == 'Cz') | 
                              (df_incorrect["channel"] == 'CPz') |
                              (df_incorrect["channel"] == 'Pz'))]
                ERN_temp = ERN_temp.assign(subject=subject)
                ERN_temp.to_csv('/home/michael/data/derivatives/results/erp/ern_sub-' + subject + '.tsv', sep='\t', index=False)

                ERN = ERN.append(ERN_temp)
                display(ERN_temp)
                #display(ERN)
            counter +=1

/home/michael/data/derivatives/reaction_epochs/sub-007/sub-007-reaction_epochs-epo.fif
007
Reading /home/michael/data/derivatives/reaction_epochs/sub-007/sub-007-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1229 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
/home/michael/data/derivatives/reaction_epochs/sub-009/sub-009-reaction_epochs-epo.fif
009
Reading /home/michael/data/derivatives/reaction_epochs/sub-009/sub-009-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1234 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,incorrect_incongruent,64,0,Pz,eeg,-4.986203,baseline,negative_first,6,70,6,09
12319,incorrect_incongruent,64,0,CPz,eeg,-4.791787,baseline,negative_first,6,70,6,09
12325,incorrect_incongruent,64,0,Fz,eeg,12.769535,baseline,negative_first,6,70,6,09
12334,incorrect_incongruent,64,0,FCz,eeg,7.839311,baseline,negative_first,6,70,6,09
12335,incorrect_incongruent,64,0,Cz,eeg,0.741611,baseline,negative_first,6,70,6,09
...,...,...,...,...,...,...,...,...,...,...,...,...
136286,incorrect_incongruent,841,94,Pz,eeg,6.175573,3,negative_first,6,70,6,09
136287,incorrect_incongruent,841,94,CPz,eeg,1.149558,3,negative_first,6,70,6,09
136293,incorrect_incongruent,841,94,Fz,eeg,-2.838955,3,negative_first,6,70,6,09
136302,incorrect_incongruent,841,94,FCz,eeg,0.547122,3,negative_first,6,70,6,09
136303,incorrect_incongruent,841,94,Cz,eeg,2.799770,3,negative_first,6,70,6,09

/home/michael/data/derivatives/reaction_epochs/sub-018/sub-018-reaction_epochs-epo.fif
018
Reading /home/michael/data/derivatives/reaction_epochs/sub-018/sub-018-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1223 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,incorrect_congruent,118,0,Pz,eeg,-7.038443,baseline,negative_first,0,63,3,18
12319,incorrect_congruent,118,0,CPz,eeg,-4.174083,baseline,negative_first,0,63,3,18
12325,incorrect_congruent,118,0,Fz,eeg,2.458307,baseline,negative_first,0,63,3,18
12334,incorrect_congruent,118,0,FCz,eeg,2.359109,baseline,negative_first,0,63,3,18
12335,incorrect_congruent,118,0,Cz,eeg,1.103903,baseline,negative_first,0,63,3,18
...,...,...,...,...,...,...,...,...,...,...,...,...
210206,incorrect_incongruent,817,94,Pz,eeg,4.557849,3,negative_first,0,63,3,18
210207,incorrect_incongruent,817,94,CPz,eeg,8.047458,3,negative_first,0,63,3,18
210213,incorrect_incongruent,817,94,Fz,eeg,-7.995775,3,negative_first,0,63,3,18
210222,incorrect_incongruent,817,94,FCz,eeg,-10.217321,3,negative_first,0,63,3,18
210223,incorrect_incongruent,817,94,Cz,eeg,-9.511682,3,negative_first,0,63,3,18

/home/michael/data/derivatives/reaction_epochs/sub-011/sub-011-reaction_epochs-epo.fif
011
Reading /home/michael/data/derivatives/reaction_epochs/sub-011/sub-011-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1219 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,incorrect_incongruent,52,0,Pz,eeg,9.318592,baseline,positive_first,4,68,0,11
12319,incorrect_incongruent,52,0,CPz,eeg,7.553999,baseline,positive_first,4,68,0,11
12325,incorrect_incongruent,52,0,Fz,eeg,4.590333,baseline,positive_first,4,68,0,11
12334,incorrect_incongruent,52,0,FCz,eeg,7.175455,baseline,positive_first,4,68,0,11
12335,incorrect_incongruent,52,0,Cz,eeg,5.199208,baseline,positive_first,4,68,0,11
...,...,...,...,...,...,...,...,...,...,...,...,...
949406,incorrect_incongruent,1225,94,Pz,eeg,3.051500,3,positive_first,4,68,0,11
949407,incorrect_incongruent,1225,94,CPz,eeg,1.894134,3,positive_first,4,68,0,11
949413,incorrect_incongruent,1225,94,Fz,eeg,-1.855458,3,positive_first,4,68,0,11
949422,incorrect_incongruent,1225,94,FCz,eeg,-0.335156,3,positive_first,4,68,0,11
949423,incorrect_incongruent,1225,94,Cz,eeg,0.244553,3,positive_first,4,68,0,11

/home/michael/data/derivatives/reaction_epochs/sub-023/sub-023-reaction_epochs-epo.fif
023
Reading /home/michael/data/derivatives/reaction_epochs/sub-023/sub-023-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1181 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,incorrect_incongruent,57,0,Pz,eeg,2.213878,baseline,positive_first,2,68,28,23
12319,incorrect_incongruent,57,0,CPz,eeg,6.950769,baseline,positive_first,2,68,28,23
12325,incorrect_incongruent,57,0,Fz,eeg,-3.217801,baseline,positive_first,2,68,28,23
12334,incorrect_incongruent,57,0,FCz,eeg,0.499923,baseline,positive_first,2,68,28,23
12335,incorrect_incongruent,57,0,Cz,eeg,7.788614,baseline,positive_first,2,68,28,23
...,...,...,...,...,...,...,...,...,...,...,...,...
924766,incorrect_incongruent,1244,94,Pz,eeg,0.423798,3,positive_first,2,68,28,23
924767,incorrect_incongruent,1244,94,CPz,eeg,6.653575,3,positive_first,2,68,28,23
924773,incorrect_incongruent,1244,94,Fz,eeg,4.819579,3,positive_first,2,68,28,23
924782,incorrect_incongruent,1244,94,FCz,eeg,6.950125,3,positive_first,2,68,28,23
924783,incorrect_incongruent,1244,94,Cz,eeg,8.607203,3,positive_first,2,68,28,23

/home/michael/data/derivatives/reaction_epochs/sub-031/sub-031-reaction_epochs-epo.fif
031
Reading /home/michael/data/derivatives/reaction_epochs/sub-031/sub-031-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1227 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,incorrect_incongruent,55,0,Pz,eeg,17.950914,baseline,positive_first,15,67,14,31
12319,incorrect_incongruent,55,0,CPz,eeg,18.730715,baseline,positive_first,15,67,14,31
12325,incorrect_incongruent,55,0,Fz,eeg,5.767928,baseline,positive_first,15,67,14,31
12334,incorrect_incongruent,55,0,FCz,eeg,10.197853,baseline,positive_first,15,67,14,31
12335,incorrect_incongruent,55,0,Cz,eeg,15.330565,baseline,positive_first,15,67,14,31
...,...,...,...,...,...,...,...,...,...,...,...,...
826206,incorrect_incongruent,1238,94,Pz,eeg,8.870342,3,positive_first,15,67,14,31
826207,incorrect_incongruent,1238,94,CPz,eeg,13.261634,3,positive_first,15,67,14,31
826213,incorrect_incongruent,1238,94,Fz,eeg,-1.299108,3,positive_first,15,67,14,31
826222,incorrect_incongruent,1238,94,FCz,eeg,9.777229,3,positive_first,15,67,14,31
826223,incorrect_incongruent,1238,94,Cz,eeg,14.988315,3,positive_first,15,67,14,31

/home/michael/data/derivatives/reaction_epochs/sub-008/sub-008-reaction_epochs-epo.fif
008
Reading /home/michael/data/derivatives/reaction_epochs/sub-008/sub-008-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1224 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,incorrect_incongruent,52,0,Pz,eeg,14.781991,baseline,positive_first,6,50,2,08
12319,incorrect_incongruent,52,0,CPz,eeg,12.988350,baseline,positive_first,6,50,2,08
12325,incorrect_incongruent,52,0,Fz,eeg,-4.576726,baseline,positive_first,6,50,2,08
12334,incorrect_incongruent,52,0,FCz,eeg,4.322609,baseline,positive_first,6,50,2,08
12335,incorrect_incongruent,52,0,Cz,eeg,6.311029,baseline,positive_first,6,50,2,08
...,...,...,...,...,...,...,...,...,...,...,...,...
431966,incorrect_congruent,1232,94,Pz,eeg,12.943831,3,positive_first,6,50,2,08
431967,incorrect_congruent,1232,94,CPz,eeg,0.965301,3,positive_first,6,50,2,08
431973,incorrect_congruent,1232,94,Fz,eeg,-13.777157,3,positive_first,6,50,2,08
431982,incorrect_congruent,1232,94,FCz,eeg,-10.871262,3,positive_first,6,50,2,08
431983,incorrect_congruent,1232,94,Cz,eeg,-8.240568,3,positive_first,6,50,2,08

/home/michael/data/derivatives/reaction_epochs/sub-022/sub-022-reaction_epochs-epo.fif
022
Reading /home/michael/data/derivatives/reaction_epochs/sub-022/sub-022-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1236 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,incorrect_incongruent,87,0,Pz,eeg,4.218611,baseline,negative_first,10,64,22,22
12319,incorrect_incongruent,87,0,CPz,eeg,4.025686,baseline,negative_first,10,64,22,22
12325,incorrect_incongruent,87,0,Fz,eeg,-6.780221,baseline,negative_first,10,64,22,22
12334,incorrect_incongruent,87,0,FCz,eeg,-3.137661,baseline,negative_first,10,64,22,22
12335,incorrect_incongruent,87,0,Cz,eeg,1.438182,baseline,negative_first,10,64,22,22
...,...,...,...,...,...,...,...,...,...,...,...,...
234846,incorrect_incongruent,836,94,Pz,eeg,8.129563,3,negative_first,10,64,22,22
234847,incorrect_incongruent,836,94,CPz,eeg,10.196580,3,negative_first,10,64,22,22
234853,incorrect_incongruent,836,94,Fz,eeg,-2.229258,3,negative_first,10,64,22,22
234862,incorrect_incongruent,836,94,FCz,eeg,0.795505,3,negative_first,10,64,22,22
234863,incorrect_incongruent,836,94,Cz,eeg,4.804543,3,negative_first,10,64,22,22

/home/michael/data/derivatives/reaction_epochs/sub-036/sub-036-reaction_epochs-epo.fif
036
Reading /home/michael/data/derivatives/reaction_epochs/sub-036/sub-036-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1215 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,incorrect_incongruent,55,0,Pz,eeg,6.003265,baseline,negative_first,4,70,15,36
12319,incorrect_incongruent,55,0,CPz,eeg,2.888058,baseline,negative_first,4,70,15,36
12325,incorrect_incongruent,55,0,Fz,eeg,4.298115,baseline,negative_first,4,70,15,36
12334,incorrect_incongruent,55,0,FCz,eeg,-1.557651,baseline,negative_first,4,70,15,36
12335,incorrect_incongruent,55,0,Cz,eeg,1.558628,baseline,negative_first,4,70,15,36
...,...,...,...,...,...,...,...,...,...,...,...,...
776926,incorrect_incongruent,827,94,Pz,eeg,3.390290,3,negative_first,4,70,15,36
776927,incorrect_incongruent,827,94,CPz,eeg,7.154284,3,negative_first,4,70,15,36
776933,incorrect_incongruent,827,94,Fz,eeg,-4.791557,3,negative_first,4,70,15,36
776942,incorrect_incongruent,827,94,FCz,eeg,5.637003,3,negative_first,4,70,15,36
776943,incorrect_incongruent,827,94,Cz,eeg,8.350614,3,negative_first,4,70,15,36

/home/michael/data/derivatives/reaction_epochs/sub-003/sub-003-reaction_epochs-epo.fif
003
Reading /home/michael/data/derivatives/reaction_epochs/sub-003/sub-003-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1176 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,incorrect_incongruent,4,0,Pz,eeg,-2.167707,baseline,negative_first,3,62,7,03
12319,incorrect_incongruent,4,0,CPz,eeg,6.229396,baseline,negative_first,3,62,7,03
12325,incorrect_incongruent,4,0,Fz,eeg,14.817347,baseline,negative_first,3,62,7,03
12334,incorrect_incongruent,4,0,FCz,eeg,11.665076,baseline,negative_first,3,62,7,03
12335,incorrect_incongruent,4,0,Cz,eeg,9.174546,baseline,negative_first,3,62,7,03
...,...,...,...,...,...,...,...,...,...,...,...,...
801566,incorrect_incongruent,782,94,Pz,eeg,1.610168,3,negative_first,3,62,7,03
801567,incorrect_incongruent,782,94,CPz,eeg,4.893626,3,negative_first,3,62,7,03
801573,incorrect_incongruent,782,94,Fz,eeg,10.083317,3,negative_first,3,62,7,03
801582,incorrect_incongruent,782,94,FCz,eeg,8.889157,3,negative_first,3,62,7,03
801583,incorrect_incongruent,782,94,Cz,eeg,8.813202,3,negative_first,3,62,7,03

/home/michael/data/derivatives/reaction_epochs/sub-029/sub-029-reaction_epochs-epo.fif
029
Reading /home/michael/data/derivatives/reaction_epochs/sub-029/sub-029-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
881 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,incorrect_incongruent,64,0,Pz,eeg,6.745045,baseline,positive_first,7,71,18,29
12319,incorrect_incongruent,64,0,CPz,eeg,8.039682,baseline,positive_first,7,71,18,29
12325,incorrect_incongruent,64,0,Fz,eeg,5.429460,baseline,positive_first,7,71,18,29
12334,incorrect_incongruent,64,0,FCz,eeg,3.844508,baseline,positive_first,7,71,18,29
12335,incorrect_incongruent,64,0,Cz,eeg,4.780655,baseline,positive_first,7,71,18,29
...,...,...,...,...,...,...,...,...,...,...,...,...
37726,incorrect_incongruent,860,94,Pz,eeg,4.317154,3,positive_first,7,71,18,29
37727,incorrect_incongruent,860,94,CPz,eeg,8.402852,3,positive_first,7,71,18,29
37733,incorrect_incongruent,860,94,Fz,eeg,2.765776,3,positive_first,7,71,18,29
37742,incorrect_incongruent,860,94,FCz,eeg,5.375275,3,positive_first,7,71,18,29
37743,incorrect_incongruent,860,94,Cz,eeg,7.436669,3,positive_first,7,71,18,29

/home/michael/data/derivatives/reaction_epochs/sub-004/sub-004-reaction_epochs-epo.fif
004
Reading /home/michael/data/derivatives/reaction_epochs/sub-004/sub-004-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1215 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,incorrect_incongruent,152,0,Pz,eeg,9.274286,baseline,positive_first,0,71,3,04
12319,incorrect_incongruent,152,0,CPz,eeg,4.608299,baseline,positive_first,0,71,3,04
12325,incorrect_incongruent,152,0,Fz,eeg,-6.204564,baseline,positive_first,0,71,3,04
12334,incorrect_incongruent,152,0,FCz,eeg,-2.775042,baseline,positive_first,0,71,3,04
12335,incorrect_incongruent,152,0,Cz,eeg,3.333792,baseline,positive_first,0,71,3,04
...,...,...,...,...,...,...,...,...,...,...,...,...
234846,incorrect_incongruent,1203,94,Pz,eeg,6.329107,3,positive_first,0,71,3,04
234847,incorrect_incongruent,1203,94,CPz,eeg,2.759382,3,positive_first,0,71,3,04
234853,incorrect_incongruent,1203,94,Fz,eeg,-3.380394,3,positive_first,0,71,3,04
234862,incorrect_incongruent,1203,94,FCz,eeg,-1.427625,3,positive_first,0,71,3,04
234863,incorrect_incongruent,1203,94,Cz,eeg,-0.286143,3,positive_first,0,71,3,04

/home/michael/data/derivatives/reaction_epochs/sub-005/sub-005-reaction_epochs-epo.fif
005
Reading /home/michael/data/derivatives/reaction_epochs/sub-005/sub-005-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1214 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,incorrect_incongruent,125,0,Pz,eeg,11.251800,baseline,negative_first,0,61,11,05
12319,incorrect_incongruent,125,0,CPz,eeg,5.735513,baseline,negative_first,0,61,11,05
12325,incorrect_incongruent,125,0,Fz,eeg,-17.611615,baseline,negative_first,0,61,11,05
12334,incorrect_incongruent,125,0,FCz,eeg,-7.287804,baseline,negative_first,0,61,11,05
12335,incorrect_incongruent,125,0,Cz,eeg,1.407077,baseline,negative_first,0,61,11,05
...,...,...,...,...,...,...,...,...,...,...,...,...
185566,incorrect_congruent,770,94,Pz,eeg,-0.504068,3,negative_first,0,61,11,05
185567,incorrect_congruent,770,94,CPz,eeg,-8.971502,3,negative_first,0,61,11,05
185573,incorrect_congruent,770,94,Fz,eeg,-16.166076,3,negative_first,0,61,11,05
185582,incorrect_congruent,770,94,FCz,eeg,-23.294404,3,negative_first,0,61,11,05
185583,incorrect_congruent,770,94,Cz,eeg,-21.139011,3,negative_first,0,61,11,05

/home/michael/data/derivatives/reaction_epochs/sub-015/sub-015-reaction_epochs-epo.fif
015
Reading /home/michael/data/derivatives/reaction_epochs/sub-015/sub-015-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1220 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,incorrect_incongruent,55,0,Pz,eeg,15.783899,baseline,positive_first,10,56,20,15
12319,incorrect_incongruent,55,0,CPz,eeg,14.253077,baseline,positive_first,10,56,20,15
12325,incorrect_incongruent,55,0,Fz,eeg,-6.286311,baseline,positive_first,10,56,20,15
12334,incorrect_incongruent,55,0,FCz,eeg,1.806370,baseline,positive_first,10,56,20,15
12335,incorrect_incongruent,55,0,Cz,eeg,10.731416,baseline,positive_first,10,56,20,15
...,...,...,...,...,...,...,...,...,...,...,...,...
456606,incorrect_incongruent,1244,94,Pz,eeg,3.280460,3,positive_first,10,56,20,15
456607,incorrect_incongruent,1244,94,CPz,eeg,0.864804,3,positive_first,10,56,20,15
456613,incorrect_incongruent,1244,94,Fz,eeg,1.608804,3,positive_first,10,56,20,15
456622,incorrect_incongruent,1244,94,FCz,eeg,2.820848,3,positive_first,10,56,20,15
456623,incorrect_incongruent,1244,94,Cz,eeg,2.941963,3,positive_first,10,56,20,15

/home/michael/data/derivatives/reaction_epochs/sub-002/sub-002-reaction_epochs-epo.fif
002
Reading /home/michael/data/derivatives/reaction_epochs/sub-002/sub-002-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1231 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,incorrect_incongruent,54,0,Pz,eeg,3.868533,baseline,positive_first,8,67,10,02
12319,incorrect_incongruent,54,0,CPz,eeg,3.437901,baseline,positive_first,8,67,10,02
12325,incorrect_incongruent,54,0,Fz,eeg,-5.108054,baseline,positive_first,8,67,10,02
12334,incorrect_incongruent,54,0,FCz,eeg,-0.572631,baseline,positive_first,8,67,10,02
12335,incorrect_incongruent,54,0,Cz,eeg,1.555656,baseline,positive_first,8,67,10,02
...,...,...,...,...,...,...,...,...,...,...,...,...
776926,incorrect_incongruent,1241,94,Pz,eeg,7.570302,3,positive_first,8,67,10,02
776927,incorrect_incongruent,1241,94,CPz,eeg,7.519878,3,positive_first,8,67,10,02
776933,incorrect_incongruent,1241,94,Fz,eeg,8.863158,3,positive_first,8,67,10,02
776942,incorrect_incongruent,1241,94,FCz,eeg,11.179570,3,positive_first,8,67,10,02
776943,incorrect_incongruent,1241,94,Cz,eeg,11.991168,3,positive_first,8,67,10,02

/home/michael/data/derivatives/reaction_epochs/sub-037/sub-037-reaction_epochs-epo.fif
037
Reading /home/michael/data/derivatives/reaction_epochs/sub-037/sub-037-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1233 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,incorrect_incongruent,53,0,Pz,eeg,14.131550,baseline,positive_first,8,65,10,37
12319,incorrect_incongruent,53,0,CPz,eeg,18.121512,baseline,positive_first,8,65,10,37
12325,incorrect_incongruent,53,0,Fz,eeg,2.839589,baseline,positive_first,8,65,10,37
12334,incorrect_incongruent,53,0,FCz,eeg,9.242187,baseline,positive_first,8,65,10,37
12335,incorrect_incongruent,53,0,Cz,eeg,16.207027,baseline,positive_first,8,65,10,37
...,...,...,...,...,...,...,...,...,...,...,...,...
259486,incorrect_incongruent,1242,94,Pz,eeg,3.004093,3,positive_first,8,65,10,37
259487,incorrect_incongruent,1242,94,CPz,eeg,-0.533548,3,positive_first,8,65,10,37
259493,incorrect_incongruent,1242,94,Fz,eeg,-11.077706,3,positive_first,8,65,10,37
259502,incorrect_incongruent,1242,94,FCz,eeg,-5.759333,3,positive_first,8,65,10,37
259503,incorrect_incongruent,1242,94,Cz,eeg,-2.913411,3,positive_first,8,65,10,37

/home/michael/data/derivatives/reaction_epochs/sub-012/sub-012-reaction_epochs-epo.fif
012
Reading /home/michael/data/derivatives/reaction_epochs/sub-012/sub-012-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1135 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,incorrect_congruent,62,0,Pz,eeg,-0.019413,baseline,negative_first,3,67,7,12
12319,incorrect_congruent,62,0,CPz,eeg,7.548230,baseline,negative_first,3,67,7,12
12325,incorrect_congruent,62,0,Fz,eeg,2.434856,baseline,negative_first,3,67,7,12
12334,incorrect_congruent,62,0,FCz,eeg,8.002701,baseline,negative_first,3,67,7,12
12335,incorrect_congruent,62,0,Cz,eeg,2.823750,baseline,negative_first,3,67,7,12
...,...,...,...,...,...,...,...,...,...,...,...,...
407326,incorrect_incongruent,833,94,Pz,eeg,6.364960,3,negative_first,3,67,7,12
407327,incorrect_incongruent,833,94,CPz,eeg,4.313077,3,negative_first,3,67,7,12
407333,incorrect_incongruent,833,94,Fz,eeg,-9.452496,3,negative_first,3,67,7,12
407342,incorrect_incongruent,833,94,FCz,eeg,-8.136636,3,negative_first,3,67,7,12
407343,incorrect_incongruent,833,94,Cz,eeg,8.591416,3,negative_first,3,67,7,12

/home/michael/data/derivatives/reaction_epochs/sub-010/sub-010-reaction_epochs-epo.fif
010
Reading /home/michael/data/derivatives/reaction_epochs/sub-010/sub-010-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1051 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,incorrect_incongruent,54,0,Pz,eeg,4.491753,baseline,positive_first,7,64,13,10
12319,incorrect_incongruent,54,0,CPz,eeg,7.619506,baseline,positive_first,7,64,13,10
12325,incorrect_incongruent,54,0,Fz,eeg,-1.469054,baseline,positive_first,7,64,13,10
12334,incorrect_incongruent,54,0,FCz,eeg,4.160844,baseline,positive_first,7,64,13,10
12335,incorrect_incongruent,54,0,Cz,eeg,5.902280,baseline,positive_first,7,64,13,10
...,...,...,...,...,...,...,...,...,...,...,...,...
1245086,incorrect_incongruent,1243,94,Pz,eeg,15.966593,3,positive_first,7,64,13,10
1245087,incorrect_incongruent,1243,94,CPz,eeg,12.644427,3,positive_first,7,64,13,10
1245093,incorrect_incongruent,1243,94,Fz,eeg,-7.050982,3,positive_first,7,64,13,10
1245102,incorrect_incongruent,1243,94,FCz,eeg,-0.264995,3,positive_first,7,64,13,10
1245103,incorrect_incongruent,1243,94,Cz,eeg,10.894494,3,positive_first,7,64,13,10

/home/michael/data/derivatives/reaction_epochs/sub-006/sub-006-reaction_epochs-epo.fif
006
Reading /home/michael/data/derivatives/reaction_epochs/sub-006/sub-006-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1190 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,incorrect_incongruent,57,0,Pz,eeg,2.867981,baseline,positive_first,8,68,11,06
12319,incorrect_incongruent,57,0,CPz,eeg,9.166054,baseline,positive_first,8,68,11,06
12325,incorrect_incongruent,57,0,Fz,eeg,13.798044,baseline,positive_first,8,68,11,06
12334,incorrect_incongruent,57,0,FCz,eeg,18.468377,baseline,positive_first,8,68,11,06
12335,incorrect_incongruent,57,0,Cz,eeg,16.013017,baseline,positive_first,8,68,11,06
...,...,...,...,...,...,...,...,...,...,...,...,...
333406,incorrect_incongruent,1218,94,Pz,eeg,2.890639,3,positive_first,8,68,11,06
333407,incorrect_incongruent,1218,94,CPz,eeg,7.795465,3,positive_first,8,68,11,06
333413,incorrect_incongruent,1218,94,Fz,eeg,-9.396740,3,positive_first,8,68,11,06
333422,incorrect_incongruent,1218,94,FCz,eeg,-6.027028,3,positive_first,8,68,11,06
333423,incorrect_incongruent,1218,94,Cz,eeg,10.360889,3,positive_first,8,68,11,06

/home/michael/data/derivatives/reaction_epochs/sub-020/sub-020-reaction_epochs-epo.fif
020
Reading /home/michael/data/derivatives/reaction_epochs/sub-020/sub-020-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1230 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,incorrect_incongruent,53,0,Pz,eeg,12.086364,baseline,negative_first,7,66,3,20
12319,incorrect_incongruent,53,0,CPz,eeg,17.268483,baseline,negative_first,7,66,3,20
12325,incorrect_incongruent,53,0,Fz,eeg,-7.437299,baseline,negative_first,7,66,3,20
12334,incorrect_incongruent,53,0,FCz,eeg,3.122893,baseline,negative_first,7,66,3,20
12335,incorrect_incongruent,53,0,Cz,eeg,14.504308,baseline,negative_first,7,66,3,20
...,...,...,...,...,...,...,...,...,...,...,...,...
2477086,incorrect_incongruent,845,94,Pz,eeg,9.325213,3,negative_first,7,66,3,20
2477087,incorrect_incongruent,845,94,CPz,eeg,13.081142,3,negative_first,7,66,3,20
2477093,incorrect_incongruent,845,94,Fz,eeg,-8.406451,3,negative_first,7,66,3,20
2477102,incorrect_incongruent,845,94,FCz,eeg,9.570226,3,negative_first,7,66,3,20
2477103,incorrect_incongruent,845,94,Cz,eeg,26.391984,3,negative_first,7,66,3,20

/home/michael/data/derivatives/reaction_epochs/sub-032/sub-032-reaction_epochs-epo.fif
032
Reading /home/michael/data/derivatives/reaction_epochs/sub-032/sub-032-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
909 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,incorrect_incongruent,51,0,Pz,eeg,11.276037,baseline,negative_first,0,64,4,32
12319,incorrect_incongruent,51,0,CPz,eeg,7.871472,baseline,negative_first,0,64,4,32
12325,incorrect_incongruent,51,0,Fz,eeg,0.318472,baseline,negative_first,0,64,4,32
12334,incorrect_incongruent,51,0,FCz,eeg,2.160435,baseline,negative_first,0,64,4,32
12335,incorrect_incongruent,51,0,Cz,eeg,5.006104,baseline,negative_first,0,64,4,32
...,...,...,...,...,...,...,...,...,...,...,...,...
481246,incorrect_incongruent,828,94,Pz,eeg,0.157331,3,negative_first,0,64,4,32
481247,incorrect_incongruent,828,94,CPz,eeg,1.494539,3,negative_first,0,64,4,32
481253,incorrect_incongruent,828,94,Fz,eeg,7.002620,3,negative_first,0,64,4,32
481262,incorrect_incongruent,828,94,FCz,eeg,3.174148,3,negative_first,0,64,4,32
481263,incorrect_incongruent,828,94,Cz,eeg,3.203485,3,negative_first,0,64,4,32

/home/michael/data/derivatives/reaction_epochs/sub-024/sub-024-reaction_epochs-epo.fif
024
Reading /home/michael/data/derivatives/reaction_epochs/sub-024/sub-024-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1229 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,incorrect_incongruent,73,0,Pz,eeg,4.279181,baseline,negative_first,6,70,11,24
12319,incorrect_incongruent,73,0,CPz,eeg,5.144701,baseline,negative_first,6,70,11,24
12325,incorrect_incongruent,73,0,Fz,eeg,-1.962759,baseline,negative_first,6,70,11,24
12334,incorrect_incongruent,73,0,FCz,eeg,0.685348,baseline,negative_first,6,70,11,24
12335,incorrect_incongruent,73,0,Cz,eeg,0.391761,baseline,negative_first,6,70,11,24
...,...,...,...,...,...,...,...,...,...,...,...,...
530526,incorrect_congruent,813,94,Pz,eeg,8.262829,3,negative_first,6,70,11,24
530527,incorrect_congruent,813,94,CPz,eeg,7.152429,3,negative_first,6,70,11,24
530533,incorrect_congruent,813,94,Fz,eeg,-6.068071,3,negative_first,6,70,11,24
530542,incorrect_congruent,813,94,FCz,eeg,-0.761437,3,negative_first,6,70,11,24
530543,incorrect_congruent,813,94,Cz,eeg,4.834610,3,negative_first,6,70,11,24

/home/michael/data/derivatives/reaction_epochs/sub-017/sub-017-reaction_epochs-epo.fif
017
Reading /home/michael/data/derivatives/reaction_epochs/sub-017/sub-017-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1210 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,incorrect_incongruent,81,0,Pz,eeg,-1.301272,baseline,positive_first,9,65,10,17
12319,incorrect_incongruent,81,0,CPz,eeg,4.464031,baseline,positive_first,9,65,10,17
12325,incorrect_incongruent,81,0,Fz,eeg,5.385217,baseline,positive_first,9,65,10,17
12334,incorrect_incongruent,81,0,FCz,eeg,7.035414,baseline,positive_first,9,65,10,17
12335,incorrect_incongruent,81,0,Cz,eeg,6.800202,baseline,positive_first,9,65,10,17
...,...,...,...,...,...,...,...,...,...,...,...,...
160926,incorrect_incongruent,1229,94,Pz,eeg,4.596904,3,positive_first,9,65,10,17
160927,incorrect_incongruent,1229,94,CPz,eeg,9.436831,3,positive_first,9,65,10,17
160933,incorrect_incongruent,1229,94,Fz,eeg,-9.743392,3,positive_first,9,65,10,17
160942,incorrect_incongruent,1229,94,FCz,eeg,-6.491023,3,positive_first,9,65,10,17
160943,incorrect_incongruent,1229,94,Cz,eeg,-3.359902,3,positive_first,9,65,10,17

/home/michael/data/derivatives/reaction_epochs/sub-027/sub-027-reaction_epochs-epo.fif
027
Reading /home/michael/data/derivatives/reaction_epochs/sub-027/sub-027-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1114 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,incorrect_incongruent,58,0,Pz,eeg,9.624463,baseline,positive_first,16,70,15,27
12319,incorrect_incongruent,58,0,CPz,eeg,6.283585,baseline,positive_first,16,70,15,27
12325,incorrect_incongruent,58,0,Fz,eeg,-10.668429,baseline,positive_first,16,70,15,27
12334,incorrect_incongruent,58,0,FCz,eeg,-9.940852,baseline,positive_first,16,70,15,27
12335,incorrect_incongruent,58,0,Cz,eeg,-0.799570,baseline,positive_first,16,70,15,27
...,...,...,...,...,...,...,...,...,...,...,...,...
382686,incorrect_incongruent,1221,94,Pz,eeg,13.779210,3,positive_first,16,70,15,27
382687,incorrect_incongruent,1221,94,CPz,eeg,15.391952,3,positive_first,16,70,15,27
382693,incorrect_incongruent,1221,94,Fz,eeg,-0.854313,3,positive_first,16,70,15,27
382702,incorrect_incongruent,1221,94,FCz,eeg,5.127768,3,positive_first,16,70,15,27
382703,incorrect_incongruent,1221,94,Cz,eeg,9.010968,3,positive_first,16,70,15,27

/home/michael/data/derivatives/reaction_epochs/sub-035/sub-035-reaction_epochs-epo.fif
035
Reading /home/michael/data/derivatives/reaction_epochs/sub-035/sub-035-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1232 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,incorrect_incongruent,50,0,Pz,eeg,3.127847,baseline,negative_first,7,73,13,35
12319,incorrect_incongruent,50,0,CPz,eeg,-4.009557,baseline,negative_first,7,73,13,35
12325,incorrect_incongruent,50,0,Fz,eeg,-13.894305,baseline,negative_first,7,73,13,35
12334,incorrect_incongruent,50,0,FCz,eeg,-8.991252,baseline,negative_first,7,73,13,35
12335,incorrect_incongruent,50,0,Cz,eeg,-8.369370,baseline,negative_first,7,73,13,35
...,...,...,...,...,...,...,...,...,...,...,...,...
1762526,incorrect_incongruent,844,94,Pz,eeg,-2.028762,3,negative_first,7,73,13,35
1762527,incorrect_incongruent,844,94,CPz,eeg,-0.428557,3,negative_first,7,73,13,35
1762533,incorrect_incongruent,844,94,Fz,eeg,-1.763351,3,negative_first,7,73,13,35
1762542,incorrect_incongruent,844,94,FCz,eeg,-6.847498,3,negative_first,7,73,13,35
1762543,incorrect_incongruent,844,94,Cz,eeg,1.876983,3,negative_first,7,73,13,35

/home/michael/data/derivatives/reaction_epochs/sub-033/sub-033-reaction_epochs-epo.fif
033
Reading /home/michael/data/derivatives/reaction_epochs/sub-033/sub-033-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1110 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,incorrect_incongruent,52,0,Pz,eeg,-7.050306,baseline,positive_first,11,76,41,33
12319,incorrect_incongruent,52,0,CPz,eeg,-4.123607,baseline,positive_first,11,76,41,33
12325,incorrect_incongruent,52,0,Fz,eeg,0.500164,baseline,positive_first,11,76,41,33
12334,incorrect_incongruent,52,0,FCz,eeg,-0.429627,baseline,positive_first,11,76,41,33
12335,incorrect_incongruent,52,0,Cz,eeg,1.788364,baseline,positive_first,11,76,41,33
...,...,...,...,...,...,...,...,...,...,...,...,...
185566,incorrect_incongruent,1223,94,Pz,eeg,-3.350808,3,positive_first,11,76,41,33
185567,incorrect_incongruent,1223,94,CPz,eeg,3.916606,3,positive_first,11,76,41,33
185573,incorrect_incongruent,1223,94,Fz,eeg,-9.513195,3,positive_first,11,76,41,33
185582,incorrect_incongruent,1223,94,FCz,eeg,-6.066792,3,positive_first,11,76,41,33
185583,incorrect_incongruent,1223,94,Cz,eeg,-1.458010,3,positive_first,11,76,41,33

/home/michael/data/derivatives/reaction_epochs/sub-019/sub-019-reaction_epochs-epo.fif
019
Reading /home/michael/data/derivatives/reaction_epochs/sub-019/sub-019-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1207 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,incorrect_incongruent,52,0,Pz,eeg,15.300539,baseline,positive_first,4,66,3,19
12319,incorrect_incongruent,52,0,CPz,eeg,18.674421,baseline,positive_first,4,66,3,19
12325,incorrect_incongruent,52,0,Fz,eeg,12.216685,baseline,positive_first,4,66,3,19
12334,incorrect_incongruent,52,0,FCz,eeg,18.433573,baseline,positive_first,4,66,3,19
12335,incorrect_incongruent,52,0,Cz,eeg,21.555618,baseline,positive_first,4,66,3,19
...,...,...,...,...,...,...,...,...,...,...,...,...
703006,incorrect_incongruent,1239,94,Pz,eeg,-6.590245,3,positive_first,4,66,3,19
703007,incorrect_incongruent,1239,94,CPz,eeg,-5.216106,3,positive_first,4,66,3,19
703013,incorrect_incongruent,1239,94,Fz,eeg,-6.867833,3,positive_first,4,66,3,19
703022,incorrect_incongruent,1239,94,FCz,eeg,-7.899575,3,positive_first,4,66,3,19
703023,incorrect_incongruent,1239,94,Cz,eeg,-7.113609,3,positive_first,4,66,3,19

/home/michael/data/derivatives/reaction_epochs/sub-014/sub-014-reaction_epochs-epo.fif
014
Reading /home/michael/data/derivatives/reaction_epochs/sub-014/sub-014-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1122 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,incorrect_incongruent,291,0,Pz,eeg,7.400951,baseline,negative_first,8,66,8,14
12319,incorrect_incongruent,291,0,CPz,eeg,2.049914,baseline,negative_first,8,66,8,14
12325,incorrect_incongruent,291,0,Fz,eeg,-10.692327,baseline,negative_first,8,66,8,14
12334,incorrect_incongruent,291,0,FCz,eeg,-23.034839,baseline,negative_first,8,66,8,14
12335,incorrect_incongruent,291,0,Cz,eeg,-10.970046,baseline,negative_first,8,66,8,14
...,...,...,...,...,...,...,...,...,...,...,...,...
259486,incorrect_incongruent,793,94,Pz,eeg,9.524556,3,negative_first,8,66,8,14
259487,incorrect_incongruent,793,94,CPz,eeg,1.201761,3,negative_first,8,66,8,14
259493,incorrect_incongruent,793,94,Fz,eeg,10.451835,3,negative_first,8,66,8,14
259502,incorrect_incongruent,793,94,FCz,eeg,0.211779,3,negative_first,8,66,8,14
259503,incorrect_incongruent,793,94,Cz,eeg,-12.482876,3,negative_first,8,66,8,14

/home/michael/data/derivatives/reaction_epochs/sub-038/sub-038-reaction_epochs-epo.fif
038
Reading /home/michael/data/derivatives/reaction_epochs/sub-038/sub-038-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
992 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,incorrect_incongruent,58,0,Pz,eeg,5.513982,baseline,positive_first,2,64,23,38
12319,incorrect_incongruent,58,0,CPz,eeg,7.226807,baseline,positive_first,2,64,23,38
12325,incorrect_incongruent,58,0,Fz,eeg,0.317062,baseline,positive_first,2,64,23,38
12334,incorrect_incongruent,58,0,FCz,eeg,1.867574,baseline,positive_first,2,64,23,38
12335,incorrect_incongruent,58,0,Cz,eeg,4.898899,baseline,positive_first,2,64,23,38
...,...,...,...,...,...,...,...,...,...,...,...,...
653726,incorrect_incongruent,1171,94,Pz,eeg,4.457847,3,positive_first,2,64,23,38
653727,incorrect_incongruent,1171,94,CPz,eeg,9.207246,3,positive_first,2,64,23,38
653733,incorrect_incongruent,1171,94,Fz,eeg,0.367318,3,positive_first,2,64,23,38
653742,incorrect_incongruent,1171,94,FCz,eeg,4.888971,3,positive_first,2,64,23,38
653743,incorrect_incongruent,1171,94,Cz,eeg,10.741207,3,positive_first,2,64,23,38

/home/michael/data/derivatives/reaction_epochs/sub-016/sub-016-reaction_epochs-epo.fif
016
Reading /home/michael/data/derivatives/reaction_epochs/sub-016/sub-016-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1217 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,incorrect_incongruent,50,0,Pz,eeg,15.497354,baseline,negative_first,2,62,4,16
12319,incorrect_incongruent,50,0,CPz,eeg,-2.955236,baseline,negative_first,2,62,4,16
12325,incorrect_incongruent,50,0,Fz,eeg,-8.239772,baseline,negative_first,2,62,4,16
12334,incorrect_incongruent,50,0,FCz,eeg,-2.958629,baseline,negative_first,2,62,4,16
12335,incorrect_incongruent,50,0,Cz,eeg,6.557505,baseline,negative_first,2,62,4,16
...,...,...,...,...,...,...,...,...,...,...,...,...
382686,incorrect_incongruent,822,94,Pz,eeg,-7.343913,3,negative_first,2,62,4,16
382687,incorrect_incongruent,822,94,CPz,eeg,-5.016189,3,negative_first,2,62,4,16
382693,incorrect_incongruent,822,94,Fz,eeg,-3.606177,3,negative_first,2,62,4,16
382702,incorrect_incongruent,822,94,FCz,eeg,-0.604039,3,negative_first,2,62,4,16
382703,incorrect_incongruent,822,94,Cz,eeg,-3.991366,3,negative_first,2,62,4,16

/home/michael/data/derivatives/reaction_epochs/sub-028/sub-028-reaction_epochs-epo.fif
028
Reading /home/michael/data/derivatives/reaction_epochs/sub-028/sub-028-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1214 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,incorrect_incongruent,135,0,Pz,eeg,-1.767037,baseline,negative_first,5,72,22,28
12319,incorrect_incongruent,135,0,CPz,eeg,4.097989,baseline,negative_first,5,72,22,28
12325,incorrect_incongruent,135,0,Fz,eeg,6.919587,baseline,negative_first,5,72,22,28
12334,incorrect_incongruent,135,0,FCz,eeg,8.927175,baseline,negative_first,5,72,22,28
12335,incorrect_incongruent,135,0,Cz,eeg,7.219892,baseline,negative_first,5,72,22,28
...,...,...,...,...,...,...,...,...,...,...,...,...
284126,incorrect_incongruent,825,94,Pz,eeg,13.116459,3,negative_first,5,72,22,28
284127,incorrect_incongruent,825,94,CPz,eeg,13.212569,3,negative_first,5,72,22,28
284133,incorrect_incongruent,825,94,Fz,eeg,-8.197358,3,negative_first,5,72,22,28
284142,incorrect_incongruent,825,94,FCz,eeg,-0.869905,3,negative_first,5,72,22,28
284143,incorrect_incongruent,825,94,Cz,eeg,4.557206,3,negative_first,5,72,22,28

/home/michael/data/derivatives/reaction_epochs/sub-013/sub-013-reaction_epochs-epo.fif
013
Reading /home/michael/data/derivatives/reaction_epochs/sub-013/sub-013-reaction_epochs-epo.fif ...
    Read a total of 1 projection items:
        Average EEG reference (1 x 64) active
    Found the data of interest:
        t =   -1500.00 ...    1500.00 ms
        0 CTF compensation matrices available
Adding metadata with 9 columns
Replacing existing metadata with 9 columns
1223 matching events found
No baseline correction applied
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Applying baseline correction (mode: mean)
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...
Converting "condition" to "category"...
Converting "epoch" to "category"...
Converting "channel" to "category"...
Converting "ch_type" to "category"...

,condition,epoch,time,channel,ch_type,value,exp_condition,group,bdi_sum_score,des_sum_score,sps_sum_score,subject
12318,incorrect_incongruent,66,0,Pz,eeg,15.547927,baseline,positive_first,1,64,9,13
12319,incorrect_incongruent,66,0,CPz,eeg,11.588999,baseline,positive_first,1,64,9,13
12325,incorrect_incongruent,66,0,Fz,eeg,-0.078671,baseline,positive_first,1,64,9,13
12334,incorrect_incongruent,66,0,FCz,eeg,7.510279,baseline,positive_first,1,64,9,13
12335,incorrect_incongruent,66,0,Cz,eeg,8.339175,baseline,positive_first,1,64,9,13
...,...,...,...,...,...,...,...,...,...,...,...,...
530526,incorrect_incongruent,1225,94,Pz,eeg,27.512071,3,positive_first,1,64,9,13
530527,incorrect_incongruent,1225,94,CPz,eeg,13.622687,3,positive_first,1,64,9,13
530533,incorrect_incongruent,1225,94,Fz,eeg,-27.077373,3,positive_first,1,64,9,13
530542,incorrect_incongruent,1225,94,FCz,eeg,-15.410481,3,positive_first,1,64,9,13
530543,incorrect_incongruent,1225,94,Cz,eeg,-5.192687,3,positive_first,1,64,9,13

In [8]:
CRN.to_csv('/home/michael/data/derivatives/results/erp/crns.tsv', sep='\t', index=False)
ERN.to_csv('/home/michael/data/derivatives/results/erp/erns.tsv', sep='\t', index=False)